@use "../../../../sass/kernel" as *;
@use "../../../../sass/structure" as *;
@use "../../config" as *;

$card-custom-classes: ".bg-primary-color";
$card-header-custom-classes: ".px-2, .py-2";
$card-body-custom-classes: ".d-flex, .flex-column, .gap-1, .p-2";
$card-footer-custom-classes: ".pt-2";
$card-image-space-custom-classes: ".px-2";
$card-scrollbar-custom-classes: ".p-2";

.card{
    @extend .d-flex, .flex-column, .overflow-hidden, .h-fit-content, #{$card-custom-classes};

    .card-header{
        @extend #{$card-header-custom-classes};
    }
    .card-footer{
        @extend #{$card-footer-custom-classes};
    }
    .card-body{
        @extend .d-flex, .flex-column, #{$card-body-custom-classes};
    }
    &:has(.card-image-space){
        @extend #{$card-image-space-custom-classes};
    }
    &.card-scrollbar{
        @extend #{$card-scrollbar-custom-classes};
    
        & .card-body{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            @extend .overflow-y-scroll;
        }
    }
}





.multiply-ellipsis-3{
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    @extend .overflow-hidden;
}