<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="d-flex flex-row justify-content-space-evenly align-items-center h-100">
        <button class="px-2 py-1 btn btn-primary tooltip tooltip-top">
            Primary
            <span>Click Here</span>
        </button>
        <button class="px-2 py-1 btn btn-primary tooltip tooltip-bottom">
            Primary
            <span>Click Here</span>
        </button>
        <button class="px-2 py-1 btn btn-primary tooltip tooltip-left">
            Primary
            <span>Click Here</span>
        </button>
        <button class="px-2 py-1 btn btn-primary tooltip tooltip-right">
            Primary
            <span>Click Here</span>
        </button>
    </body>
</html>