<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
        <link rel="stylesheet" href="../../../../../../../../public/assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary bg-secondary-color d-flex flex-column h-100 w-100 justify-content-center align-items-center gap-10">
        <!-- <div class="d-grid g-4 gap-10">
            <div class="d-flex flex-column justify-content-center align-items-center gap-10">
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge top-0 left-0 bg-danger-regular-color all-border-full"></span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge top-0 left-0 bg-danger-regular-color txt-small all-border-full">99+</span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge top-0 left-0 bg-danger-regular-color txt-subtitle all-border-full">error</span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge top-0 left-0 bg-danger-regular-color all-border-full">
                        <i class="fa-solid fa-house icon-small"></i>
                    </span>
                </button>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center gap-10">
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge top-0 right-0 bg-warning-regular-color all-border-full"></span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge top-0 right-0 bg-warning-regular-color txt-subtitle all-border-full">99+</span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge top-0 right-0 bg-warning-regular-color txt-subtitle all-border-full">warning</span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge top-0 right-0 bg-warning-regular-color all-border-full">
                        <i class="fa-solid fa-house icon-small"></i>
                    </span>
                </button>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center gap-10">
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge bottom-0 left-0 bg-information-regular-color all-border-full"></span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge bottom-0 left-0 bg-information-regular-color txt-normal all-border-full">99+</span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge bottom-0 left-0 bg-information-regular-color txt-subtitle all-border-full">information</span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge bottom-0 left-0 bg-information-regular-color all-border-full">
                        <i class="fa-solid fa-house icon-small"></i>
                    </span>
                </button>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center gap-10">
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge bottom-0 right-0 bg-success-regular-color all-border-full"></span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge bottom-0 right-0 bg-success-regular-color txt-title all-border-full">99+</span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge bottom-0 right-0 bg-success-regular-color txt-subtitle all-border-full">success</span>
                </button>
                <button class="parent-badge btn btn-primary px-2 py-1">button
                    <span class="badge bottom-0 right-0 bg-success-regular-color all-border-full">
                        <i class="fa-solid fa-house icon-small"></i>
                    </span>
                </button>
            </div>
        </div> -->
        <!-- <div class="d-flex flex-row justify-content-center align-items-center gap-10">
            <button class="parent-badge btn btn-primary px-2 py-1">button
                <span class="badge top-0 left-0 bg-danger-regular-color all-border-full border-width-2 border-on-primary-color border-solid"></span>
            </button>
            <button class="parent-badge btn btn-primary px-2 py-1">button
                <span class="badge top-0 left-0 bg-warning-regular-color txt-subtitle all-border-full border-width-2 border-on-primary-color border-solid">99+</span>
            </button>
            <button class="parent-badge btn btn-primary px-2 py-1">button
                <span class="badge top-0 left-0 bg-information-regular-color txt-subtitle all-border-full border-width-2 border-on-primary-color border-solid">success</span>
            </button>
            <button class="parent-badge btn btn-primary px-2 py-1">button
                <span class="badge top-0 left-0 bg-success-regular-color all-border-full border-width-2 border-on-primary-color border-solid">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </button>
        </div> -->
        <!-- <div class="d-flex flex-row justify-content-center align-items-center gap-10"> -->
            <div class="badge-wrapper btn btn-primary px-2 py-1">
                <p>button</p>
                <span class="badge top-0 left-0 bg-danger-regular-color all-border-full">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </div>
            <div class="badge-wrapper d-flex flex-row justify-content-center align-items-center gap-1 btn btn-primary px-2 py-1">
                <p>button</p>
                <span class="badge-inside bg-danger-regular-color all-border-full">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </div>
            <!-- <button class="parent-badge btn btn-primary px-2 py-1">button
                <span class="badge bottom-0 left-0 bg-warning-regular-color all-border-small">99+</span>
            </button>
            <button class="parent-badge btn btn-primary px-2 py-1">button
                <span class="badge bottom-0 right-0 bg-information-regular-color all-border-small border-width-1 border-on-primary-color border-solid">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </button>
            <button class="parent-badge btn btn-primary px-2 py-1">button
                <span class="badge top-0 right-0 bg-success-regular-color all-border-full border-width-3 border-on-primary-color border-solid">
                    <i class="fa-solid fa-house icon-small"></i>
                </span>
            </button>
        </div> -->
    </body>
</html>