<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary d-flex flex-column h-100 w-100 justify-content-center align-items-center gap-4">
        <div class="accordion-container bg-primary-color w-50 py-1 px-2 all-border-small m-5">
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">item 1 <i class="fa-solid fa-chevron-down txt-subtitle mr-1"></i></span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion active">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">item 2 <i class="fa-solid fa-chevron-down txt-subtitle mr-1"></i></span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">item 3 <i class="fa-solid fa-chevron-down txt-subtitle mr-1"></i></span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-container bg-primary-color w-50 py-1 px-2 all-border-small m-5">
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div>
                            <i class="fa-solid fa-code-branch txt-subtitle mr-1 "></i>item 1
                        </div>
                        <i class="fa-solid fa-chevron-down txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion active">
                <div class="accordion-box">
                    <span class="primary-color w-100 d-flex flex-row on-primary-color justify-content-space-between align-items-center">
                        <div>
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 2 
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color w-100 d-flex flex-row on-primary-color justify-content-space-between align-items-center">
                        <div>
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 3
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-container scroll-accordion bg-primary-color w-50 py-1 px-2 all-border-small m-5">
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div> 
                            <i class="fa-solid fa-code-branch txt-subtitle mr-1"></i>item 1 
                        </div>
                        <i class="fa-solid fa-chevron-down txt-subtitle mr-1"></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion active">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div> 
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 2 
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div> 
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 3
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion active">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div> 
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 4
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div> 
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 5
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion active">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div> 
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 6
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div> 
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 7
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-box">
                    <span class="primary-color on-primary-color">
                        <div> 
                            <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 8
                        </div>
                        <i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i>
                    </span>
                    <div>
                        <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>