<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary w-100 h-100 d-flex flex-column justify-content-center">
        <div class="justify-content-center">
            <nav class="breadcrumb" style="--content:url(../../assets/media/images/breadcrumb.png)">
                <ol class="txt-mid-title bg-secondary-color px-2 py-1 all-border-normal">
                    <li>
                        <a href="#">miz</a>
                        <i class="fa-solid fa-house icon-regular"></i>
                    </li>
                    <li class="active">
                        <a href="#">Documentation</a>
                        <i class="fa-solid fa-book icon-regular"></i>
                    </li>
                    <li>
                        <a href="#">Components</a>
                        <i class="fa-solid fa-box icon-regular"></i>
                    </li>
                </ol>
            </nav>
        </div>
        <nav class="breadcrumb" style="--content:'';">
            <ul class="txt-normal bg-secondary-color px-2 py-1 all-border-normal">
                <li>
                    <a href="#">miz</a>
                    <i class="fa-solid fa-house icon-small"></i>
                </li>
                <li>
                    <a href="#">Documentation</a>
                    <i class="fa-solid fa-book icon-small"></i>
                </li>
                <li class="active">
                    <a href="#">Components</a>
                    <i class="fa-solid fa-box icon-small"></i>
                </li>
            </ul>
        </nav>
        <div class="justify-content-end">
            <div class="breadcrumb" style="--content:'→';">
                <div class="txt-small bg-secondary-color px-2 py-1 all-border-normal">
                    <li class="active">
                        <a href="#">miz</a>
                        <i class="fa-solid fa-house icon-extra-small"></i>
                    </li>
                    <li>
                        <a href="#">Documentation</a>
                        <i class="fa-solid fa-book icon-extra-small"></i>
                    </li>
                    <li>
                        <a href="#">Components</a>
                        <i class="fa-solid fa-box icon-extra-small"></i>
                    </li>
                </div>
            </div>
        </div>
    </body>
</html>