<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
    </head>
    <body class="d-flex flex-row justify-content-center align-items-center gap-8 font-primary p-10">
        <div class="d-flex flex-column justify-content-center align-items-start gap-2 w-30">
            <p class="txt-title title-text-color">Login</p>
            <p class="txt-normal text-color mb-2">Fill fields to continue:</p>
            <!-- <div class="form-floating w-100">
                <input id="userName" class="form-control all-border-normal" type="text" placeholder="Username">
                <label class="txt-subtitle" for="userName">Username</label>
            </div> -->
            <div class="form-floating w-100">
                <input id="email" class="form-control all-border-normal" type="txt" placeholder="">
                <label class="txt-subtitle" for="email">Username or Email address</label>
            </div>
            <div class="d-flex flex-row justify-content-start align-content-center gap-1 w-100">
                <div class="form-floating w-100">
                    <input id="password" class="form-control all-border-normal" type="password" placeholder="Password">
                    <label class="txt-subtitle" for="password">Password</label> 
                </div>
            </div>
            <div class="btn btn-primary px-2 py-1 w-100 txt-center all-border-full txt-subtitle">Login</div>
            <a href="#">Forget password ?</a>
            <div class="d-flex flex-row justify-content-start align-items-center">
                <input id="accept" class="form-check all-border-normal pointer" type="checkbox">
                <label class="form-label pointer" for="accept">Remember me</label>
            </div>
            <div class="d-flex flex-row justify-content-center gap-2 align-items-center w-100">
                <button class="btn btn-outline-danger px-2 py-1 all-border-normal">Sign with Google</button>
                <button class="btn btn-outline-info px-2 py-1 all-border-normal">Sign with Facebook</button>
            </div>
            <a class="align-self-center" href="./login">Do you have an Account ?</a>
        </div>
        <img class="h-100 object-contain" src="../../../../../../assets/media/images/registe.webp" alt="login">
    </body>
</html>