<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary w-100 h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="offcanvas-static offcanvas-scroll offcanvas-backdrop mb-2">
            <div id="offcanvasCheck1" class="btn btn-primary px-2 py-1">offcanvas default</div>
            <div class="backdrop"></div>
            <div class="offcanvas-left">
                <div class="offcanvas-close" for="offcanvasCheck1">
                    <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                </div>
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur vel corrupti? Maxime, fugiat temporibus harum</p>
                <button class="btn btn-secondary px-2 py-1 on-primary-color mb-1">btn</button>
                <div class="dropdown active dropdown-bottom">
                    <div class="btn btn-secondary px-2 py-1 on-primary-color gap-1" for="dropdown-toggle-1">
                        Dropdown button
                        <i class="fa-solid fa-chevron-down"></i>
                    </div> 
                    <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>       
                </div>
            </div>
        </div>
        <div class="offcanvas-static offcanvas-no-scroll mb-2">
            <div id="offcanvasCheck2" class="btn btn-outline-success px-2 py-1">offcanvas top and bottom</div>
            <div class="backdrop"></div>
            <div class="offcanvas-top">
                <div class="offcanvas-close">
                    <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                </div>
                <h1>big text</h1>
                <p>lorem</p>
            </div>
            <div class="offcanvas-bottom">
                <div class="offcanvas-close">
                    <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                </div>
                <p>lorem</p>
            </div>
        </div>
        <div class="offcanvas-static offcanvas-no-scroll offcanvas-backdrop">
            <div id="offcanvasCheck3" class="btn btn-danger px-2 py-1">offcanvas left and right</div>
            <div class="backdrop"></div>
            <div class="offcanvas-left">
                <div class="offcanvas-close">
                    <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                </div>
                <p>lorem</p>
            </div>
            <div class="offcanvas-right">
                <div class="offcanvas-close">
                    <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                </div>
                <p>lorem</p>
            </div>
        </div>
    </body>
</html>