@use "../../../../sass/kernel/kernel-functions/colors";

.range{
    width: 100%;
    height:var(--height-range);
    cursor: pointer;
    appearance: none;
    background-color: colors.get-color(primary);
    // @extend .all-border-full;
    border-radius: 1000px;

    &.appearance{
        appearance: auto;
        accent-color: colors.get-color(primary);
    }
    &:not(.appearance):disabled{
        background-color: colors.get-color(disabled-regular);
    }
}