@use "../../../../sass/kernel" as *;

$range-thumb-custom-classes:".bg-primary-color, .bw-0";

.range{
    width: 100%;
    height:var(--height-range);
    @extend .radius-all-full;

    &:disabled{
        background-color: get-color(disabled-regular);
    }
    &::-moz-range-thumb , &::-webkit-slider-thumb{
        @extend #{$range-thumb-custom-classes};
    }
}