<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
    </head>
    <body class="font-primary h-100 d-flex flex-column justify-content-center align-items-center gap-2">
        <div class="w-20 d-flex flex-column justify-content-center align-items-center gap-2">
            <input type="range" class="range bg-primary-color">
            <input type="range" class="range" style="--height-range:0;">
            <input type="range" class="range" min="0" max="100" style="--height-range:2;">
            <input type="range" class="range" min="0" max="100" step="20 " style="--height-range:6;">
            <input type="range" class="range" disabled style="--height-range:6;">
            <input type="range" class="range appearance">
            <input type="range" class="range appearance" min="0" max="100">
            <input type="range" class="range appearance" min="0" max="100" step="20">
            <input type="range" class="range appearance" disabled>
        </div>
    </body>
</html>