@use "../../../../sass/structure" as *;
@use "../../../../sass/kernel" as *;
@use "../../config" as *;

.tab-container {
  @extend .d-flex, .position-relative, .w-100;
}

.tab-labels {
  display: flex;
  // flex-direction: column;
  // min-width: 180px; 
  // border-right: 1px solid #ddd;
  // background: #f7f7f7;

  .tab-label {
    @extend .w-100, .d-inline-block, .p-2, .pointer;
    // background-color: #f7f7f7;
    // border-bottom: 1px solid #ddd;
    // change colors
    text-align: center;
    transition: all 0.2s;
    // color: #6b7280;
    &:hover:not(.active) {
      // background-color: #e7e7e7;
      // color: #2563eb;

      // change colors
    }
    &.active {
      // background-color: #fff;
      // color: #2563eb;
      // border-right: 3px solid #2563eb;
      // font-weight: bold;
      // z-index: 2;

      // change colors
    }
  }
}

.tab-contents {
  flex: 1;
  height: fit-content;
  // position: relative;
  // background: #fff;
  // border-radius: 0 12px 12px 0;
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
  .tab-content {
    display: none;
    width: 100%;
    // padding: 32px 24px;
    color: #222;
    animation: fadeIn 0.4s;
    // background: #fff;
  
    &.active {
      display: unset;
    }
  }
}


// @media (max-width: 600px) {
//   .tab-container {
//     flex-direction: column;
//   }
//   .tab-labels {
//     flex-direction: row;
//     min-width: unset;
//     border-right: none;
//     border-bottom: 1px solid #ddd;
//   }
//   .tab-label {
//     border-bottom: none;
//     border-right: 1px solid #ddd;
//     border-radius: 0;
//   }
//   .tab-label.active {
//     border-right: none;
//     border-bottom: 3px solid #2563eb;
//   }
//   .tab-contents {
//     border-radius: 0 0 12px 12px;
//   }
// }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(16px); }
  to { opacity: 1; transform: translateY(0); }
}