@use "../../../../sass/structure/_typography" as *;
@use "../../../../sass/structure" as *;
@use "../../../../sass/kernel" as *;

$tab-labels:".border-style-solid, .border-color, .bw-1, .border-t-none, .border-b-none, .border-l-none, .bg-primary-color";
$tab-label:".bg-primary-color, .bw-0, .border-style-solid, .border-t-none, .border-b-none, .border-l-none, .border-color, .on-primary-color";
$tab-label-flex-direction-column:".border-r-none";
$tab-label-transition:0.2s linear;
$tab-label-hover-custom-classes:".bg-on-primary-color, .secondary-color";
$tab-label-active-custom-classes:".bw-2, .bg-secondary-color, .on-primary-color, .font-weight-bold, .z-index-2";
$tab-label-active-last-child-custom-classes:".bw-0";
$tab-contents:".w-100, .position-relative, .bg-on-primary-color, .py-3, .px-2";
$tab-content:".d-none, .w-100, .py-3, .px-2, .text-color, .bg-on-primary-color";
$tab-content-active:".d-inline-block";

.tab-container {
    @extend .d-flex, .position-relative, .w-100;
}
.tab-labels {
    @extend .w-100, .d-flex, #{$tab-labels};

    .tab-label {
        transition: $tab-label-transition;
        @extend .w-100, .d-flex, .align-items-center, .p-2, .cursor-pointer, .txt-align-center, #{$tab-label};

        &:hover:not(.active) {
            @extend #{$tab-label-hover-custom-classes};
        }
        &.active {
            @extend #{$tab-label-active-custom-classes};
        }
        &.active:last-child{
            @extend #{$tab-label-active-last-child-custom-classes};
        }
    }
    &[class*="flex-column"]{
        .tab-label{
            @extend #{$tab-label-flex-direction-column};
        }
    }
}

.tab-contents {
    @extend #{$tab-contents};
    .tab-content {
        animation: fadeIn 0.4s;
        @extend #{$tab-content};

        &.active {
            @extend #{$tab-content-active};
        }
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}