@mixin reset-file($reset){
    @if $reset{
        body,p,h1,h2,h3,h4,h5,h6,hr{
            margin:0px;
        }
        
        h1,h2,h3,h4,h5,h6{
            font-weight: normal;
        }
        
        li{
            list-style: none;
        }
        
        button{
            border:none;
        }
        
        ul,li,ol{
            padding:0px;
            margin:0px;
        }
        
        a{
            text-decoration: none;
            color:black;
        }
    }
}
@include reset-file($reset);