@use "../../../../sass/kernel/kernel-functions/colors";
@use "../../config" as *;

.palette-color{
    & div div{
        width: 60px;
        box-shadow: 0px 0px 10px 2px colors.get-color(shadow);
        transition: 90ms linear;
        // @extend .all-border-normal, .aspect-ratio-1x1, .pointer;
        border-radius: $all-border-normal;

        &:hover{
            transform: scale(1.16);
        }
    }
}