@import "../functions/responsive";

.w-100vw{
    width: 100vw;
}
.h-100vh{
    height: 100vh;
}
.w-fit-content{
    width: fit-content;
}
.h-fit-content{
    height: fit-content;
}

$w-list:w;
$h-list:h;
$width-list : generate-classes-items($w-list ,width, $conf-width, true);
$height-list : generate-classes-items($h-list ,height, $conf-height);