@import "../functions/responsive";
@import "../../../config";
$w-list:w;
$h-list:h;
$width-list : generate-classes-items($w-list ,width, $conf-width) ;
$height-list : generate-classes-items($h-list ,height, $conf-height) ;