@use "../../../../sass/kernel" as *;
@use "../../../../sass/structure" as *;

$page-indicator-empty-custom-classes: ".bg-primary-color, .aspect-ratio-1x1, .radius-all-full";
$page-indicator-not-empty-custom-classes: ".bg-primary-color, .aspect-ratio-1x1, .radius-all-full, .bw-3, .border-style-solid, .border-primary-color, .on-primary-color, .bg-primary-color";
$page-indicator-active-empty-custom-classes: ".bg-secondary-color, .aspect-ratio-2x1";
$page-indicator-active-not-empty-custom-classes: ".bg-secondary-color";
$page-indicator-transition: .3s;
$page-indicator-pages-custom-classes: ".d-flex, .flex-row, .justify-content-center, .align-items-center";

.page-indicator{
    height:var(--size);
    @extend .w-fit-content, .d-flex, .flex-row, .align-items-center;
    
    .page{
        &.active:empty{
            @extend #{$page-indicator-active-empty-custom-classes};
        }
        &.active:not(:empty){
            @extend #{$page-indicator-active-not-empty-custom-classes};
        }
    }

    & .page{
        transition: $page-indicator-transition;
        @extend #{$page-indicator-pages-custom-classes};
        
        &:empty{
            cursor: pointer;
            height: var(--size);
            @extend #{$page-indicator-empty-custom-classes};
        }

        &:not(:empty){
            user-select: none;
            height: var(--size);
            cursor: pointer;
            @extend #{$page-indicator-not-empty-custom-classes};
        }
    }
}