<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
    </head>
    <body class="font-primary d-flex flex-column justify-content-center align-items-center gap-2 w-100 h-100">
        <div class="page-indicator gap-1" style="--size:20">
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
        </div>
        <div class="page-indicator gap-1" style="--size:30">
            <div class="page">1</div>
            <div class="page">2</div>
            <div class="page">3</div>
            <div class="page">4</div>
            <div class="page">5</div>
        </div>
        <div class="page-indicator gap-1" style="--size:40">
            <div class="page">1</div>
            <div class="page">2</div>
            <div class="page">3</div>
            <div class="page">4</div>
            <div class="page">5</div>
        </div>
        <div class="page-indicator gap-1" style="--size:50">
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
        </div>
        <script src="../../../../../../../../public/assets/js/mizchin.js"></script>
    </body>
</html>