@use "../../../../sass/kernel/kernel-functions/colors";
@use "../../config" as *;

.btn{
    // @extend .all-border-small, .pointer, .border-box;
    border-radius: $all-border-small;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    &:has(i){
        &:not(:has(span)){
        // @extend .p-1, .d-flex;
        display: flex;
        }
    }
    &:has(i + span){
        // @extend .gap-1;
    }
    
}
.btn-primary{
    color: colors.get-color(on-primary);
    background-color: colors.get-color(primary);
}
.btn-secondary{
    color: colors.get-color(secondary-text);
    background-color: colors.get-color(secondary);
}
.btn-success{
    color:colors.get-color(button-text);
    background-color: colors.get-color(success-regular);
}
.btn-danger{
    color:colors.get-color(button-text);
    background-color: colors.get-color(danger-regular);
}
.btn-warning{
    color:colors.get-color(button-text);
    background-color: colors.get-color(warning-regular);
}
.btn-info{
    color:colors.get-color(button-text);
    background-color: colors.get-color(information-regular);
}
.btn-link{
    color:colors.get-color(information-light);
    text-decoration:underline; 
    background-color: transparent;
}

.btn-outline-primary {
    border-color:colors.get-color(primary);
    color: colors.get-color(primary);
    background-color:transparent;
    // @extend .border-solid, .border-width-1;
    border-style: solid;
    border-width: 1px;
}

.btn-outline-secondary {
    border-color:colors.get-color(secondary);    
    color: colors.get-color(secondary);
    background-color:transparent;
    // @extend .border-solid, .border-width-1;
    border-style: solid;
    border-width: 1px;
}

.btn-outline-success {
    border-color: colors.get-color(success-regular);
    color: colors.get-color(success-regular);
    background-color:transparent;
    // @extend .border-solid, .border-width-1;
    border-style: solid;
    border-width: 1px;
}

.btn-outline-danger {
    border-color: colors.get-color(danger-regular);
    color: colors.get-color(danger-regular);
    background-color:transparent;
    // @extend .border-solid, .border-width-1;
    border-style: solid;
    border-width: 1px;
}

.btn-outline-warning {
    border-color: colors.get-color(warning-regular);
    color: colors.get-color(warning-regular);
    background-color:transparent;
    // @extend .border-solid, .border-width-1;
    border-style: solid;
    border-width: 1px;

}

.btn-outline-info {
    border-color: colors.get-color(information-regular);
    color: colors.get-color(information-regular);
    background-color:transparent;
    // @extend .border-solid, .border-width-1;
    border-style: solid;
    border-width: 1px;

}

.btn-round{
    // @extend .all-border-full;
    border-radius: 1000px;
}

.btn-sm{
    font-size: 10px;
}

.btn-lg{
    font-size: 20px;

}