@use "../../../../sass/structure" as *;
@use "../../../../sass/kernel" as *;
@use "../../config" as *;
@use "sass:list";
@use "sass:map";

$btn-transition: 0.2s linear;
$btn-outline-transition: 0.2s linear;
$btn-has-icon-and-span:".gap-1";
$btn-not-has-span:".p-1";
$btn-custom-classes:".py-1, .px-2";
$btn-outline-custom-classes:".border-style-solid, .bw-1, .py-1, .px-2";

$btn:(
    primary:(
        background:"primary", 
        color:"on-primary", 
        background-hover:"primary-dark", 
        color-hover:"on-primary"
    ),
    secondary:(
        background:"secondary", 
        color:"on-secondary", 
        background-hover:"secondary-dark", 
        color-hover:"on-secondary"
    ),
    success:(
        background:"success-regular", 
        color:"button-text", 
        background-hover:"success-dark", 
        color-hover:"button-text"
    ),
    danger:(
        background:"danger-regular", 
        color:"button-text", 
        background-hover:"danger-dark", 
        color-hover:"button-text"
    ),
    warning:(
        background:"warning-regular", 
        color:"button-text", 
        background-hover:"warning-dark", 
        color-hover:"button-text"
    ),
    info:(
        background:"information-regular", 
        color:"button-text", 
        background-hover:"information-dark", 
        color-hover:"button-text"
    ),
    link:(
        background:"transparent", 
        color:"information-light", 
        background-hover:"transparent", 
        color-hover:"information-dark"
    )
);

$btn-outline:(
    primary:(
        border:"primary", 
        color:"primary",
        border-hover:"primary",
        color-hover:"on-primary",
        background-hover:"primary", 
    ),
    secondary:(
        border:"secondary", 
        color:"secondary", 
        border-hover:"secondary",
        color-hover:"on-secondary",
        background-hover:"secondary", 
    ),
    success:(
        border:"success-regular", 
        color:"success-regular", 
        border-hover:"success-regular",
        color-hover:"button-text",
        background-hover:"success-regular", 
    ),
    danger:(
        border:"danger-regular", 
        color:"danger-regular", 
        border-hover:"danger-regular",
        color-hover:"button-text",
        background-hover:"danger-regular", 
    ),
    warning:(
        border:"warning-regular", 
        color:"warning-regular", 
        border-hover:"warning-regular",
        color-hover:"button-text",
        background-hover:"warning-regular", 
    ),
    info:(
        border:"information-regular", 
        color:"information-regular", 
        border-hover:"information-regular",
        color-hover:"button-text",
        background-hover:"information-regular", 
    ),
    link:(
        border:"transparent", 
        color:"information-light", 
        border-hover:"transparent", 
        color-hover:"information-light",
        background-hover:"transparent", 
    )
);

.btn{
    @extend .radius-all-small, .cursor-pointer, .border-box;
    user-select: none;
    &:has(i){
        &:not(:has(span)){
            @extend .d-flex , #{$btn-not-has-span};
        }
    }
    &:has(i + span){
        @extend .d-flex, #{$btn-has-icon-and-span};
    }
    
}


@for $i from 1 through list.length($btn){
    $btn-list-item:list.nth($btn , $i);
    $btn-class:list.nth($btn-list-item , 1);
    $btn-color:map.get(list.nth($btn-list-item , 2) , color);
    $btn-bg-color:map.get(list.nth($btn-list-item , 2) , background);
    $btn-bg-color-hover:map.get(list.nth($btn-list-item , 2) , background-hover);
    $btn-color-hover:map.get(list.nth($btn-list-item , 2) , color-hover);

    .btn-#{$btn-class}{
        color: get-color($btn-color);
        background-color: get-color($btn-bg-color);
        transition: $btn-transition;
        @extend #{$btn-custom-classes};
    }
    .btn-#{$btn-class}:hover{
        background-color: get-color($btn-bg-color-hover);
        color: get-color($btn-color-hover);
    }
}



@for $i from 1 through list.length($btn-outline){
    $btn-outline-list-item:list.nth($btn-outline , $i);
    $btn-outline-class:list.nth($btn-outline-list-item , 1);
    $btn-outline-color:map.get(list.nth($btn-outline-list-item , 2) , color);
    $btn-outline-border:map.get(list.nth($btn-outline-list-item , 2) , border);
    $btn-outline-bg-color-hover:map.get(list.nth($btn-outline-list-item , 2) , background-hover);
    $btn-outline-color-hover:map.get(list.nth($btn-outline-list-item , 2) , color-hover);
    $btn-outline-border-hover:map.get(list.nth($btn-outline-list-item , 2) , border-hover);

    .btn-outline-#{$btn-outline-class}{
        color: get-color($btn-outline-color);
        border-color: get-color($btn-outline-border);
        background-color:transparent;
        transition: $btn-outline-transition;
        @extend #{$btn-outline-custom-classes};
    }
    .btn-outline-#{$btn-outline-class}:hover{
        background-color: get-color($btn-outline-bg-color-hover);
        color: get-color($btn-outline-color-hover);
        border-color: get-color($btn-outline-border-hover);
    }
}

.btn-round{
    @extend .radius-all-full;
}

.btn-sm{
    font-size: 10px;
}

.btn-lg{
    font-size: 20px;
}