<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
        <link rel="stylesheet" href="../../../../../../../../public/assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary d-flex flex-column h-100 w-100 justify-content-center align-items-center gap-4">
        <button class="btn btn-outline-primary all-border-full px-2 py-1 bg-secondary-color on-secondary-color">
            <i class="fa-solid fa-exclamation-triangle"></i>
            <span>Error</span>
        </button>


        <!-- <div class="container flex-row gap-1 p-2">
            <button class="btn btn-primary px-2 py-1">Primary</button>
            <button class="btn btn-secondary px-2 py-1">Secondary</button>
            <button class="btn btn-success px-2 py-1">Success</button>
            <button class="btn btn-danger px-2 py-1">Danger</button>
            <button class="btn btn-warning px-2 py-1">Warning</button>
            <button class="btn btn-info px-2 py-1">Information</button>
            <button class="btn btn-link px-2 py-1">Link</button>
        </div>
        <div class="container flex-row gap-1 p-2">
            <button class="btn btn-outline-primary px-2 py-1">Primary</button>
            <button class="btn btn-outline-secondary px-2 py-1">Secondary</button>
            <button class="btn btn-outline-success px-2 py-1">Success</button>
            <button class="btn btn-outline-danger px-2 py-1">Danger</button>
            <button class="btn btn-outline-warning px-2 py-1">Warning</button>
            <button class="btn btn-outline-info px-2 py-1">Info</button>
            <button class="btn btn-outline-primary px-2 py-1 bg-on-primary-color">Primary</button>
            <button class="btn btn-outline-success px-2 py-1 bg-success-light-color">Success</button>
            <button class="btn btn-outline-danger px-2 py-1 bg-danger-light-color">Danger</button>
        </div>
        <div class="container flex-row gap-1 p-2">
            <button class="btn btn-outline-info px-2 py-1">
                <i class="fa-solid fa-circle-info"></i>
                <span>Info</span>
            </button>
            
            <button class="btn btn-outline-primary px-2 py-1">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>Like</span>
            </button>
            
            <button class="btn btn-outline-success px-2 py-1 bg-success-light-color">
                <i class="fa-solid fa-check-circle"></i>
                <span>Success</span>
            </button>
            
            <button class="btn btn-outline-danger px-2 py-1 bg-danger-light-color">
                <i class="fa-solid fa-exclamation-triangle"></i>
                <span>Error</span>
            </button>
            
            <button class="btn btn-outline-warning px-2 py-1">
                <i class="fa-solid fa-exclamation-circle"></i>
                <span>Caution</span>
            </button>
            
            <button class="btn btn-outline-secondary px-2 py-1">
                <i class="fa-solid fa-share"></i>
                <span>Share</span>
            </button>

            <button class="btn btn-outline-info px-2 py-1 bg-information-light-color">
                <i class="fa-solid fa-circle-info"></i>
            </button>  
        </div>
        <div class="container flex-row gap-1 p-2">
            <button class="btn btn-round px-2 py-1 btn-outline-info">
                <i class="fa-solid fa-circle-info"></i>
                <span>Info</span>
            </button>
            
            <button class="btn btn-round px-2 py-1 btn-outline-success bg-success-light-color">
                <i class="fa-solid fa-check-circle"></i>
            </button>
            
            <button class="btn btn-round px-2 py-1 btn-outline-danger bg-danger-light-color">
                <i class="fa-solid fa-exclamation-triangle"></i>
                <span>Error</span>
            </button>
        </div> -->
    </body>
</html>