@use "../../../../sass/kernel" as *;

$select-custom-classes:".p-1, .bg-primary-color, .on-primary-color, .radius-all-small";
$select-disabled-custom-classes:".bg-disabled-regular-color, .text-color";
$select-option-custom-classes:".bg-secondary-color, .on-secondary-color";
$select-option-selected-custom-classes:".bg-primary-color, .on-primary-color";

.form-select{
    @extend #{$select-custom-classes};

    &:disabled{
        @extend #{$select-disabled-custom-classes};
    }

    & option{
        @extend #{$select-option-custom-classes};
    }
    & option[selected]{
        @extend #{$select-option-selected-custom-classes};
    }
}