@use "../../../../sass/kernel/kernel-functions/colors";
@use "../../config" as *;

.form-select{
    // @extend .p-1;
    // padding:;
    &:not([class^="all-border"]){
        // @extend .all-border-small;
        border-radius: $all-border-small;
    }
    &:not([class^="bg-"][class$="-color"]){
        background-color: colors.get-color(primary);
        color:colors.get-color(on-primary);
        border:none;
    }
    option:not([class^="bg-"][class$="-color"]) {
        background-color: colors.get-color(on-primary);
        color: colors.get-color(text);
    }
    &.small{
        font-size: 12px;
        padding: 5px;
    }
    &.medium{
        font-size: 16px;
        padding: 7px;
    }
    &.large{
        font-size: 22px;
        padding: 10px;
    }
}