$backgrounds:(primary,secondary,section,card,button,menu,field,warning,success,danger,disabled,information,unCommon,specific,background,danger-regular,disabled-regular,warning-regular,warning-light,warning-dark,success-regular,success-light,success-dark,danger-dark,danger-light,disabled-light,disabled-dark,information-regular,information-light,information-dark,border-secondary,unCommon);
$colors:(icon,text,specific,primary);
$borders:(border,primary);

$color-palette:(
    primary: #C7A151,
    on-primary: #FFFFFF,
    primary-light: #F8F8FF,
    primary-dark: #FFFFFF,
    secondary: #262626,
    on-secondary: #BBBBBB,
    secondary-light: #FFFFFF,
    secondary-dark: #FFFFFF,
    specific: #FFFFFF,
    button-text: #C7A151,
    button: #00000000,
    text: #BBBBBB,
    title-text: #C7A151,
    secondary-text: #FFFFFF,
    section-title-text: #CECECE,
    border: #C7A151,
    divider: #ffffff,
    shadow: #ffffff,
    icon: #C7A151,
    icon-hover: #C7A151,
    menu: #1F1D1D,
    card: #120F10,
    background: #262626,
    section: #262626,
    hover: #FFFFFF,
    button-hover: #C7A453,
    text-hover: #C7A453,
    button-text-hover: #C5B395,
    discount-price: #FFFFFF,
    gradient: #FFFFFF,
    fields: #FFFFFF,
    border-fields: #FFFFFF,
    title-text-fields: #FFFFFF,
    text-fields: #FFFFFF,
    black: #000000,
    white: #FFFFFF,
    danger-regular: #D70D0D,
    disabled-regular: #3761EB,
    warning-regular: #FFB800,
    warning-light: #FDD368,
    warning-dark: #E4A400,
    success-regular: #02B74A,
    success-light: #C0FCD8,
    success-dark: #009C3F,
    danger-dark: #D70D0D,
    danger-light: #F8D0D0,
    disabled-light: #B1B1B1,
    disabled-dark: #B1B1B1,
    information-regular: #3761EB,
    information-light: #7393FF,
    information-dark: #2145BC,
    border-secondary: #B1B1B1,
    unCommon: #FFFFFF
);
