$all-border-extra-small:2px;
$all-border-small:5px;
$all-border-normal:10px;
$all-border-medium:16px;
$all-border-large:25px;
$all-border-extra-large:50px;

$conf-opacity:(
    max:10,
    min:0,
    step:1
);

$conf-z-index:(
    max:10,
    min:0,
    step:1
);

$conf-aspect-ratio:(
    nominator:3,
    denominator:3,
    step:1
);

$conf-border-thickness:(
    last-width:10
)