$break-points:(xxl:1920px , xl:1280px , lg:1024px , md:767px , sm:478px);
// number of boxed space around should be equal with break points
$header-space-horizontally:(81px,70px,50px,17px,16px);
$boxed-space-horizontally:(81px,70px,50px,17px,16px);
$boxed-space-vertically:(5rem,4.5rem,4rem,3rem,3rem);

$conf-cols:(
    count:12,
    responsive:true
);
$conf-width:(
    count:100,
    responsive:true
);
$conf-height:(
    count:100,
    responsive:true
);
$conf-grids:(
    count:14,
    responsive:true
);

$conf-gaps:(
    count:20,
    unit:rem,
    factor:0.5,
    responsive:true
);
$conf-paddings:(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
);
$conf-margins:(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
);

$conf-orders:(
    count:12,
    responsive:true
);
$conf-display:(
    responsive:false
);
$conf-grows:(
    count:5,
    responsive:true
);
$conf-letter-spacing:(
    count:40,
    responsive:false
);
$conf-wrap:(
    responsive:true
);
$conf-flex-direction:(
    responsive:false
);
$conf-justify-content:(
    responsive:false
);
$conf-justify-self:(
    responsive:true
);
$conf-justify-items:(
    responsive:true
);
$conf-align-content:(
    responsive:true
);
$conf-align-self:(
    responsive:true
);
$conf-align-items:(
    responsive:false
);
$conf-text-align:(
    responsive:true
);
$conf-text-transform:(
    responsive:true
);
$conf-text-decoration:(
    responsive:true
);
$conf-font-style:(
    responsive:true
);