@use '../global-functions/break-point';

$font-prefix : "txt";
$font-size:(small : 10px,subtitle : 12px,normal : 16px, title : 20px, mid-title : 24px, high-title : 32px, big-title : 48px, extra-title : 72px, );
$text-align : (center,end,start,left,right);
$text-transform : (lowercase,none,uppercase,capitalize);
$text-decoration-line : (line-through,none,overline,underline,wavy);
$text-decoration-style:(dashed,dotted,double,solid);
$font-style:(italic,);
.#{$font-prefix}-ellipsis{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.list-style{
  list-style: unset;
}
.line-height{
  line-height:  1.7;
  @media screen and (max-width : get-break-point-value(xl)) {
    line-height: 1.5;
  }
  @media screen and (max-width : get-break-point-value(lg)) {
    line-height:  1.4;
  }
  @media screen and (max-width : get-break-point-value(md)) {
    line-height:  1.4;
  }
  @media screen and (max-width : get-break-point-value(sm)) {
    line-height:  1.3;
  }
}

$fonts: (
  "primary": (
    "defaults":"sans-serif, 'Courier New', Courier, monospace",
    "folder": "vazir",
    "font-types": (
      "black": (
        "Vazir-Black.woff2",
        "Vazir-Black.woff",
        "Vazir-Black.ttf",
        "Vazir-Black.eot"
      ),
      "bold": (
        "Vazir-Bold.woff2",
        "Vazir-Bold.woff",
        "Vazir-Bold.ttf",
        "Vazir-Bold.eot"
      ),
      "light": (
        "Vazir-Light.woff2",
        "Vazir-Light.woff",
        "Vazir-Light.ttf",
        "Vazir-Light.eot"
      ),
      "medium": (
        "Vazir-Medium.woff2",
        "Vazir-Medium.woff",
        "Vazir-Medium.ttf",
        "Vazir-Medium.eot"
      ),
      "regular": (
        "Vazir-Regular.woff2",
        "Vazir-Regular.woff",
        "Vazir-Regular.ttf",
        "Vazir-Regular.eot"
      ),
      "thin": (
        "Vazir-Thin.woff2",
        "Vazir-Thin.woff",
        "Vazir-Bold.ttf",
        "Vazir-Thin.eot"
      )
    )
  ),
  "secondary": (
    "defaults":"sans-serif, 'Courier New', Courier, monospace",
    "folder": "product-sans",
    "font-types": (
      "bold": (
        "PTSans-Bold.ttf"
      ),
      "regular": (
        "PTSans-Regular.ttf"
      ),
    )
  )
);