.breadcrumb{
    & ol{
        @extend .d-flex, .flex-row, .flex-wrap, .justify-content-center, .align-items-center;
        gap: 0.5rem;
        
        &[style*="--content"]{
            & li{
                @extend .d-flex, .flex-row, .gap-1, .justify-content-center, .align-items-center;

                &::after{
                    content: var(--content);
                    @extend .d-inline-block;
                }
    
                &:last-child::after{
                    content:'';
                }
            }
        }
    }
}