.input-group{
    @extend .d-flex, .justify-content-start, .align-items-center;
    gap: 0rem !important;
    & > label , & > span{
        background-color: get-color(fields);
        border-color: get-color(border-fields);
        @extend .h-100, .d-flex, .flex-row, .justify-content-center, .align-items-center, .p-1, .border-box, .pointer, .border-width-1, .border-solid;
    }
    & > :first-child , & > :first-child > .btn{
        @extend .all-border-small, .all-border-tr, .all-border-br;
    }
    & > :last-child , & > :last-child > .btn{
        @extend .all-border-small, .all-border-bl, .all-border-tl;
    }
    & > :nth-child(n){
        &:not(:last-child,:first-child),&:not(:last-child,:first-child) > .btn{
            @extend .all-border-tr, .all-border-br, .all-border-tl, .all-border-bl;
        }
        &:not(:last-child){
            @extend .border-r-none;
        }
        &:has( + datalist:last-child){
            border-radius:$all-border-small !important;
            border-right:1px solid get-color(border-fields) !important;
            @extend .all-border-tl, .all-border-bl;
        }

    }
    & > *{
        border: 1px solid get-color(border-fields);
        @extend .h-100, .border-box;
    }
}

@debug get-color(fields);