.range{
    width: 100%;
    height:var(--height-range);
    cursor: pointer;
    appearance: none;
    background-color: get-color(primary);
    @extend .all-border-full;
    
    &.appearance{
        appearance: auto;
        accent-color: get-color(primary);
    }
    &:not(.appearance):disabled{
        background-color: get-color(disabled-regular);
    }
}