.form-select{
    @extend .p-1;
    &:not([class^="all-border"]){
        @extend .all-border-small;
    }
    &:not([class^="bg-"][class$="-color"]){
        background-color: transparent;
        @extend .text-color;
    }
    option:not([class^="bg-"][class$="-color"]) {
        @extend .bg-primary-dark-color;
        color: #fff;
    }
    &.small{
        font-size: 12px;
        padding: 5px;
    }
    &.medium{
        font-size: 16px;
        padding: 7px;
    }
    &.large{
        font-size: 22px;
        padding: 10px;
    }
}