$tab-count : 3;
// .tab{
//     .tab-bar{
//         @extend .d-flex, .flex-row, .justify-content-center, .align-items-center, .position-relative;

//         & .tab-item{
//             user-select: none;
            
//             & label{
//                 @extend .py-1, .px-3, .border-solid, .border-width-1, .d-inline-block;
//                 border-color:transparent;
//             }
//             & , & *{
//                 @extend .pointer;
//             }
//             &:has(input[id*="tabCheck"]:checked) label{
//                 @extend .border-solid, .border-width-1, .border-color;
//             }
//             input[id*="tabCheck"]{
//                 @extend .d-none;
//             }
//         }
//         @for $i from 1 through $tab-count{ 
//             @for $j from 1 through $tab-count{
//                 @if $i == $j{
//                     &:has(input#tabCheck#{$i}:checked) .tab-page .tab-page-#{$i}{
//                         @extend .w-100, .h-100;
//                         transform: translateX(0%);
//                         border: 1px solid red; 
//                     }
//                 }
//                 @else{
//                     &:has(input#tabCheck#{$i}:checked) .tab-page .tab-page-#{$j}{
//                         @extend .w-100, .h-100, .position-absolute, .top-0, .opacity-0;

//                         @if $j > $i{
//                             transform: translateX(100%);
//                         }
//                         @else{
//                             transform: translateX(-100%);
//                         }
//                     }
//                 }
//             }
//         }
        
//     }
//     .tab-page{
//         @extend .overflow-hidden;

//         & [class*="tab-page-"]{
//             @extend .d-flex, .flex-row, .justify-content-center, .align-items-center;
//             transition: 400ms linear;
//         }
//     }
// }
// @media screen and (max-width:1000px){
//     .tab-bar{
//         display: flex;
//         flex-direction: column !important;
//     }
//     .tab-page{
//         position: unset !important;
//     }
//     body{
//         background-color: #333;
//     }
// }
// .tab-page{
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 100%;
// }

/* Tabs style for desktop */
.tabs {
    margin: 0 auto;
    @extend .d-flex, .flex-wrap, .position-relative; 
}

.tab {
    flex-basis: 100%;
    border-bottom: 1px solid;
    &:not([class^="border-"][class$="-color"]){
        border-color: #ddd;
    }
}

.tab-label {
    @extend .w-100, .d-inline-block, .p-2;
    cursor: pointer;
    &:not([class^="bg-"][class$="-color"]){
      background-color: #f7f7f7;
    }
}

.tab-content {
    @extend .w-100, .p-2;
    cursor: pointer;
    left: 0;
    transition: .2s;
    &:not([class^="bg-"][class$="-color"]){
      background-color: #fff;
    }
}
input[type="radio"] {
  @extend .d-none;
}

  .tabs {
    display: flex;
  }

.tab {
  flex-basis: 33.33%;
  border-bottom: none;
  border-right: 1px solid #ddd;
}
.tab-label {
  background-color: #e7e7e7;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.tab-content {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding: 20px;
  position: absolute;
  transition: 400ms linear;
}
.tabs{
    @for $i from 1 through $tab-count{ 
        @for $j from 1 through $tab-count{
            @if $i == $j{
                & .tab input#tabCheck#{$i}:checked ~ .tab-content{
                    @extend .w-100, .h-100;
                    transform: translateX(0%);
                    border: 1px solid red; 
                }
            }
            @else{
                &:has(input#tabCheck#{$i}:checked) .tab:nth-child(#{$j}) .tab-content{
                    @extend .w-100, .h-100, .position-absolute, .opacity-0; 
    
                    @if $j > $i{
                        transform: translateX(100%);
                    }
                    @else{
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }
}
/* Accordion for mobile view */
@media (max-width: 600px) {
  .tabs {
    flex-direction: column;
  }

  .tab-content {
    height: 0px; 
    opacity: 0;
    position: unset;
    transform: translate(0) !important;
    z-index: -1;
    transition: 0s !important;
  }

  input[type="radio"]:checked + .tab-label + .tab-content {
    height: fit-content !important;
    opacity: 1;
  }
}

