.spinner-border {
  @extend .aspect-ratio-1x1, .all-border-full,.border-solid,.d-flex;
  width: 50px;
  animation:
  M20-1 0.8s infinite linear alternate,
  M20-2 1.6s infinite linear;
    &:not([class^="border-"][class$="-color"]){
      border-color: get-color(primary);
    }
}
@keyframes M20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes M20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
.spinner-border-sm{
  width: 20px;
  &:not([class*="border-width"]){ 
    border-width: 5px;
  }
}
.spinner-border-md{
  width: 30px;
   &:not([class*="border-width"]){ 
     border-width: 6px;
   }
}
.spinner-border-lg{
  width: 50px;
   &:not([class*="border-width"]){ 
    border-width: 8px;
   }
}
.spinner-border-xl{
  width: 70px;
   &:not([class*="border-width"]){ 
    border-width: 9px;
   }
}
.spinner-border-danger{
  border-color: get-color(danger-regular) !important;
}
.spinner-border-warning{
  border-color: get-color(warning-regular) !important;
}
.spinner-border-success{
  border-color: get-color(success-regular) !important;
}
.spinner-border-information{
  border-color: get-color(information-regular) !important;
}

.spinner-grow{
  @extend .d-flex, .aspect-ratio-1x1, .all-border-full;
  --spinner-grow-size : 50px;
  animation: MG-20 .75s linear infinite;
  width: 50px;
  &:not([class^="bg-"]){
    background-color: get-color(primary);
  }
}
@keyframes MG-20 {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  60%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(1);
  }
}
.spinner-grow-danger{
  background-color: get-color(danger-regular) !important;
}
.spinner-grow-warning{
  background-color: get-color(warning-regular) !important;
}
.spinner-grow-success{
  background-color: get-color(success-regular) !important;
}
.spinner-grow-information{
  background-color: get-color(information-regular) !important;
}
.spinner-grow-sm{
  width: 20px;
}
.spinner-grow-md{
  width: 30px;
}
.spinner-grow-lg{
  width: 50px;
}
.spinner-grow-xl{
  width: 70px;
}