@use "../kernel-functions/colors";

$primary-color:colors.get-color(primary);
$on-primary-color:colors.get-color(on-primary);
$primary-light-color:colors.get-color(primary-light);
$primary-dark-color:colors.get-color(primary-dark);
$secondary-color:colors.get-color(secondary);
$on-secondary-color:colors.get-color(on-secondary);
$secondary-light-color:colors.get-color(secondary-light);
$secondary-dark-color:colors.get-color(secondary-dark);
$specific-color:colors.get-color(specific);
$button-text-color:colors.get-color(button-text);
$button-color:colors.get-color(button);
$text-color:colors.get-color(text);
$title-text-color:colors.get-color(title-text);
$secondary-text-color:colors.get-color(secondary-text);
$section-title-text-color:colors.get-color(section-title-text);
$border-color:colors.get-color(border);
$divider-color:colors.get-color(divider);
$shadow-color:colors.get-color(shadow);
$icon-color:colors.get-color(icon);
$icon-hover-color:colors.get-color(icon-hover);
$hover-color:colors.get-color(hover);
$button-hover-color:colors.get-color(button-hover);
$text-hover-color:colors.get-color(text-hover);
$button-text-hover-color:colors.get-color(button-text-hover);
$menu-color:colors.get-color(menu);
$card-color:colors.get-color(card);
$background-color:colors.get-color(background);
$section-color:colors.get-color(section);
$discount-price-color:colors.get-color(discount-price);
$gradient-color:colors.get-color(gradient);
$fields-color:colors.get-color(fields);
$border-fields-color:colors.get-color(border-fields);
$title-text-fields-color:colors.get-color(title-text-fields);
$text-fields-color:colors.get-color(text-fields);
$black-color:colors.get-color(black);
$white-color:colors.get-color(white);
$danger-regular-color:colors.get-color(danger-regular);
$disabled-regular-color:colors.get-color(disabled-regular);
$warning-regular-color:colors.get-color(warning-regular);
$warning-light-color:colors.get-color(warning-light);
$warning-dark-color:colors.get-color(warning-dark);
$success-regular-color:colors.get-color(success-regular);
$success-light-color:colors.get-color(success-light);
$success-dark-color:colors.get-color(success-dark);
$danger-dark-color:colors.get-color(danger-dark);
$danger-light-color:colors.get-color(danger-light);
$disabled-light-color:colors.get-color(disabled-light);
$disabled-dark-color:colors.get-color(disabled-dark);
$information-regular-color:colors.get-color(information-regular);
$information-light-color:colors.get-color(information-light);
$information-dark-color:colors.get-color(information-dark);
$color-border-secondary-color:colors.get-color(color-border-secondary);
$unCommon-color:colors.get-color(unCommon);
