@use "sass:map";
@use "../../../config/responsive";

$conf-gaps:map.merge(responsive.$conf-gaps ,(
    count:20,
    unit:rem,
    factor:0.5,
    responsive:true
));
$conf-paddings:map.merge(responsive.$conf-paddings ,(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
));
$conf-margins:map.merge(responsive.$conf-margins ,(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
));