<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="bg-secondary-dark-color px-3 py-2 font-primary">
        <div class="form-check">
            <input type="checkbox" class="secondary" value="" id="flexCheckDefault" >
            <label for="flexCheckDefault" class="text-color">
              Default checkbox
            </label>
        </div>  
        <div class="switch " style="--switch-size : 70px">
            <input type="checkbox" id="toggle"/>
            <label class="switch-label" for="toggle"></label>  
        </div>
    </body>    
</html>