@use "../../../../sass/structure" as *;
@use "../../../../sass/kernel" as *;
@use "../../config" as *;

$list-group-active-custom-classes: ".bg-primary-color, .on-primary-color";

.list-group{
    @extend .d-flex, .justify-content-center, .align-items-stretch;

    & .list-group-items{
        @extend .border-box;
        @extend .d-flex, .justify-content-start, .align-items-center, .bw-1, .border-color, .border-style-solid, .w-100, .p-1, .text-color;

        &.active{
            @extend #{$list-group-active-custom-classes};

            & a{
                @extend .on-primary-color;
            }
        }
        &:disabled{
            user-select:none;
            cursor: default;
            color:get-color(disabled);
        }
        & *{
            @extend .cursor-pointer;
        }
        & a{
            @extend .text-color;
        }
    }
    &.flex-column{
        & .list-group-items{
            &:not(:first-child){
                @extend .border-t-none;
            }
            &:first-child{
                @extend .radius-tr-small, .radius-tl-small;
            }
            &:last-child{
                @extend .radius-br-small, .radius-bl-small;
            }
        }
    }
    &:not(.flex-column){
        @extend .flex-row;
        
        & .list-group-items{
            &:not(:first-child){
                @extend .border-l-none;
            }
            &:first-child{
                @extend .radius-tl-small, .radius-bl-small;
            }
            &:last-child{
                @extend .radius-tr-small, .radius-br-small;
            }
        }
    }
}
ol.list-group{
    & li{
        list-style: decimal;
        @extend .d-flex, .gap-1;

        &.active{
            @extend #{$list-group-active-custom-classes};

            &::marker{
                color:get-color(text);
            }
        }
    }
}
.list-group-flush{
    & .list-group-items{
        @extend .d-flex, .gap-1, .bw-1, .border-color, .border-style-solid, .w-100, .p-1, .text-color, .border-t-none, .border-l-none, .border-r-none;

        &:last-child{
            @extend .border-b-none;
        }
        & a{
            @extend .text-color;
        }
        & li{
            list-style: decimal;
    
            &.active{
                @extend #{$list-group-active-custom-classes};
    
                &::marker{
                    color:get-color(text);
                }
            }
        }
    }
}