@use "../../../../sass/kernel/kernel-functions/colors";
@use "../../config" as *;

.list-group{
    // @extend .d-flex, .justify-content-center, .align-items-center;
    display: flex;
    justify-content: center;
    align-items: center;

    & .list-group-items{
        // @extend .border-box;
        // @extend .border-width-1, .border-color, .border-solid, .w-100, .p-1, .text-color;
        box-sizing: border-box;
        border-width: 1px;
        border-color: get-color(border);
        border-style: solid;
        width: 100%;
        // padding: ;
        color: get-color(text);
        &.active{
            color: colors.get-color(on-primary);
            background-color: colors.get-color(primary);

            & a{
                color: colors.get-color(on-primary);
            }
        }
        &.disabled{
            user-select:none;
            color:colors.get-color(disabled);
        }
        & *{
            // @extend .pointer;
            cursor: pointer;
        }
        & a{
            // @extend .text-color;
            color: get-color(text);
        }
    }
    &.flex-column{
        & .list-group-items{
            &:not(:first-child){
                // @extend .border-t-none;
                border-top: none;
            }
            &:first-child{
                // @extend .all-border-normal, .all-border-br, .all-border-bl;
                border-bottom-right-radius: none;
                border-bottom-left-radius: none;
                border-radius: $all-border-normal;
            }
            &:last-child{
                // @extend .all-border-normal, .all-border-tr, .all-border-tl;
                border-top-right-radius: none;
                border-top-left-radius: none;
                border-radius: $all-border-normal;
            }
        }
    }
    &:not(.flex-column){
        // @extend .flex-row;
        flex-direction: row;
        
        & .list-group-items{
            &:not(:first-child){
                // @extend .border-l-none;
                border-left: none;
            }
            &:first-child{
                // @extend .all-border-normal, .all-border-tr, .all-border-br;
                border-top-right-radius: none;
                border-bottom-right-radius: none;
                border-radius: $all-border-normal;
            }
            &:last-child{
                // @extend .all-border-normal, .all-border-tl, .all-border-bl;
                border-top-left-radius: none;
                border-bottom-left-radius: none;
                border-radius: $all-border-normal;
            }
        }
    }
}
ol.list-group{
    & li{
        list-style: decimal;

        &.active{
            background-color: colors.get-color(primary);
            color: colors.get-color(on-primary);

            &::marker{
                color:colors.get-color(text);
            }
        }
    }
}
.list-group-flush{
    & .list-group-items{
        // @extend .border-width-1, .border-color, .border-solid, .w-100, .p-1, .text-color, .border-t-none, .border-l-none, .border-r-none;
        border-width: 1px;
        border-color: get-color(border);
        border-style: solid;
        width: 100%;
        // padding: ;
        color: get-color(text);
        border-top: none;
        border-left: none;
        border-right: none;

        &:last-child{
            // @extend .border-b-none;
            border-bottom: none;
        }
        & a{
            // @extend .text-color;
            color: get-color(text);
        }
    }
}