@use "../../../../sass/kernel/kernel-functions/colors";
@use "../../config" as *;

.nav{
    // @extend .w-100, .d-flex, .flex-row, .gap-1;
    width: 100%;
    display: flex;
    flex-direction: row;
    // gap: ;

    & .nav-item{
        // @extend .p-1, .all-border-small;
        // padding: ;
        border-radius: $all-border-small;

        &.active{
            color: colors.get-color(on-primary);
            background-color: colors.get-color(primary);

            & a{
                color: colors.get-color(on-primary);
            }
        }
        &.disabled , &.disabled *{
            user-select:none;
            cursor: default;
            color:colors.get-color(disabled-regular);
        }
        & *{
            // @extend .pointer;
            cursor: pointer;
        }
        & a{
            // @extend .text-color;
            color: get-color(text);
        }
    }
    &:not([class*="align-items"]){
        // @extend .align-items-start;
        align-items: start;
    }
    &:not(.flex-column){
        // @extend .flex-row;
        flex-direction: row;
    }
}