<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
        <link rel="stylesheet" href="../../../../../../../../public/assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary w-100 h-100 d-flex flex-column justify-content-center align-items-center gap-2">
        <ul class="nav">
            <li class="nav-item">
                <p>link</p>
            </li>
            <li class="nav-item">
                <a href="#">link</a>
            </li>
            <li class="nav-item active">
                <a href="#">link</a>
            </li>
            <li class="nav-item disabled">
                <a href="#">disabled</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="#">link</a>
            </li>
            <li class="nav-item">
                <a href="#">link</a>
            </li>
            <li class="nav-item active">
                <a href="#">link</a>
            </li>
            <li class="nav-item disabled">
                <a href="#">disabled</a>
            </li>
        </ul>
        <ul class="nav flex-column align-items-end">
            <li class="nav-item">
                <a href="#">link</a>
            </li>
            <li class="nav-item">
                <a href="#">link</a>
            </li>
            <li class="nav-item active">
                <a href="#">link</a>
            </li>
            <li class="nav-item disabled">
                <a href="#">disabled</a>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#">link</a>
            </li>
            <li class="nav-item">
                <a href="#">link</a>
            </li>
            <li class="nav-item active">
                <a href="#">link</a>
            </li>
            <li class="nav-item disabled">
                <a href="#">disabled</a>
            </li>
        </ul>
        <script src="../../../../../../../../public/assets/js/mizchin.js"></script>
    </body>
</html>