.btn{
    @extend .all-border-small, .pointer, .border-box;
    user-select: none;
    &:has(i){
        &:not(:has(span)){
        @extend .p-1, .d-flex;
        }
    }
    &:has(i + span){
        @extend .gap-1;
    }
    
}
.btn-primary{
    color: get-color(on-primary);
    background-color: get-color(primary);
}
.btn-secondary{
    color: get-color(secondary-text);
    background-color: get-color(secondary);
}
.btn-success{
    color:get-color(button-text);
    background-color: get-color(success-regular);
}
.btn-danger{
    color:get-color(button-text);
    background-color: get-color(danger-regular);
}
.btn-warning{
    color:get-color(button-text);
    background-color: get-color(warning-regular);
}
.btn-info{
    color:get-color(button-text);
    background-color: get-color(information-regular);
}
.btn-link{
    color:get-color(information-light);
    text-decoration:underline; 
    background-color: transparent;
}

.btn-outline-primary {
    border-color:get-color(primary);
    color: get-color(primary);
    background-color:transparent;
    @extend .border-solid, .border-width-1;
}

.btn-outline-secondary {
    border-color:get-color(secondary);    
    color: get-color(secondary);
    background-color:transparent;
    @extend .border-solid, .border-width-1;
}

.btn-outline-success {
    border-color: get-color(success-regular);
    color: get-color(success-regular);
    background-color:transparent;
    @extend .border-solid, .border-width-1;
}

.btn-outline-danger {
    border-color: get-color(danger-regular);
    color: get-color(danger-regular);
    background-color:transparent;
    @extend .border-solid, .border-width-1;
}

.btn-outline-warning {
    border-color: get-color(warning-regular);
    color: get-color(warning-regular);
    background-color:transparent;
    @extend .border-solid, .border-width-1;

}

.btn-outline-info {
    border-color: get-color(information-regular);
    color: get-color(information-regular);
    background-color:transparent;
    @extend .border-solid, .border-width-1;

}

.btn-round{
    @extend .all-border-full;
}

.btn-sm{
    font-size: 10px;
}

.btn-lg{
    font-size: 20px;

}