.list-group{
    @extend .d-flex, .justify-content-center, .align-items-center;

    & .list-group-items{
        @extend .border-box;
        @extend .border-width-1, .border-color, .border-solid, .w-100, .p-1, .text-color;
        &.active{
            color: get-color(on-primary);
            background-color: get-color(primary);

            & a{
                color: get-color(on-primary);
            }
        }
        &.disabled{
            user-select:none;
            color:get-color(disabled);
        }
        & *{
            @extend .pointer;
        }
        & a{
            @extend .text-color;
        }
    }
    &.flex-column{
        & .list-group-items{
            &:not(:first-child){
                @extend .border-t-none;
            }
            &:first-child{
                @extend .all-border-normal, .all-border-br, .all-border-bl;
            }
            &:last-child{
                @extend .all-border-normal, .all-border-tr, .all-border-tl;
            }
        }
    }
    &:not(.flex-column){
        @extend .flex-row;
        
        & .list-group-items{
            &:not(:first-child){
                @extend .border-l-none;
            }
            &:first-child{
                @extend .all-border-normal, .all-border-tr, .all-border-br;
            }
            &:last-child{
                @extend .all-border-normal, .all-border-tl, .all-border-bl;
            }
        }
    }
}
ol.list-group{
    & li{
        list-style: decimal;

        &.active{
            background-color: get-color(primary);
            color: get-color(on-primary);

            &::marker{
                color:get-color(text);
            }
        }
    }
}
.list-group-flush{
    & .list-group-items{
        @extend .border-width-1, .border-color, .border-solid, .w-100, .p-1, .text-color, .border-t-none, .border-l-none, .border-r-none;

        &:last-child{
            @extend .border-b-none;
        }
        & a{
            @extend .text-color;
        }
    }
}