.mason{
    column-count: var(--column-count);

    @each $column-break-point , $column-count in $mason-break-point{
        @media screen and (max-width:get-break-point-value($column-break-point)) {
            column-count: $column-count;
        }
    }
    .mason-item{
        background-color: get-color(primary);
        @extend .d-inline-block, .w-100, .mb-1, .p-1, .border-box;
    }
}