@use "../../../config/component";

.tab-container {
    margin: 0 auto;
    // @extend .d-flex, .position-relative; 
    display: flex;
    position: relative;
    
}

.tab {
  flex-basis: 100%;
  border-bottom: 1px solid;
  &:not([class^="border-"][class$="-color"]){
      border-color: #ddd;
  }
  .tab-label {
    // @extend .w-100, .d-inline-block, .p-2;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    &:not([class^="bg-"][class$="-color"]){
      background-color: #f7f7f7;
    }
  }
}

.tab-content {
    // @extend .w-100, .p-2;
    width: 100%;
    cursor: pointer;
    left: 0;
    transition: .2s;
    &:not([class^="bg-"][class$="-color"]){
      background-color: #fff;
    }
  }
  
  .tab-container {
    display: flex;
  }

.tab {
  flex-basis: 33.33%;
  border-bottom: none;
  border-right: 1px solid #ddd;
  input[type="radio"] {
    // @extend .d-none;
    display: none;
  }

}
.tab-label {
  background-color: #e7e7e7;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.tab-content {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding: 20px;
  position: absolute;
  transition: 400ms linear;
  height: fit-content;
}
.tab-container{
    @for $i from 1 through component.$tab-count{ 
        @for $j from 1 through component.$tab-count{
            @if ($i == $j){
                & .tab input#tabCheck#{$i}:checked ~ .tab-content{
                    // @extend .w-100;
                    width: 100%;
                    transform: translateX(0%);
                }
            }
            @else{
                &:has(input#tabCheck#{$i}:checked) .tab:nth-child(#{$j}) .tab-content{
                    // @extend .w-100, .h-100, .position-absolute, .opacity-0; 
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0;
    
                    @if ($j > $i){
                        transform: translateX(100%);
                    }
                    @else{
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
  .tab-container {
    flex-direction: column;
  }

  .tab-content {
    height: 0px; 
    opacity: 0;
    position: unset;
    transform: translate(0) !important;
    z-index: -1;
    transition: 0s !important;
  }

  input[type="radio"]:checked + .tab-label + .tab-content {
    height: fit-content !important;
    opacity: 1;
  }
}