@use "../../../../../kernel/global-functions/colors";
@use "../../../config" as *;

div:has( > .form-control){
    // @extend .d-flex, .justify-content-start, .align-items-start;
    display: flex;
    justify-content: start;
    align-items: start;

    &:not([class*="flex-"]){
        // @extend .flex-row;
        flex-direction: row;
    }
    &[class*="flex-row"]{
        // @extend .justify-content-start , .align-items-center, .gap-2;
        justify-content: start;
        align-items: center;
        // gap: ;

        input , p{
            margin-top: 0 !important;   
        }
    }
    .form-label{
        &:not([class*="-color"]){
            color: colors.get-color(title-text-fields);
        }
    }
    .form-control{
        padding: 7px 10px;
        // @extend .w-100;
        width: 100%;
        &:not([class*="-color"]){
            background-color: colors.get-color(fields);
            color: colors.get-color(text-fields);
        }
        &:not([class^="border-"][class$="-color"]){
            border-color: colors.get-color(border-fields);
            // @extend .border-width-1, .border-solid;
            border-width: 1px;
            border-style: solid;
        }
        &:not([class*="all-border-"]){
            // @extend .all-border-small;
            border-radius: $all-border-small;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &[type="file"]::file-selector-button{
            border:none;
            // @extend .btn, .btn-secondary;
        }
    }
    textarea.form-control{
        resize: vertical;
    }
    .form-control-sm{
        padding: 5px 6px; 
        // @extend .txt-subtitle;
    }
    .form-control-lg{
        padding: 10px 12px;
        // @extend .txt-title;
    }
    .form-text{
        // @extend .txt-subtitle, .mt-1;
        &:not([class*="-color"]){
            color: colors.get-color(text-fields);
        }
    }
    .form-control:disabled{
        &::placeholder{
            opacity: 0.8;
        }
        &:not([class^="bg-"][class$="-color"]){
            background-color: colors.get-color(fields);
        }
        &:not([class$="-color"]){
            color: #DADEE3;
        }
    }
    .form-control:read-only{
        &::placeholder{
            opacity: 1; 
        }
        &:not([class^="bg-"][class$="-color"]){
            background-color: colors.get-color(fields);
        }
        &:not([class$="-color"]){
            color: colors.get-color(white);
            &::placeholder{
                color: colors.get-color(white) !important;
            }
        }
    }
    .form-control-plaintext{
        &:not([class^="bg-"][class$="-color"]){
            background-color: transparent !important;
        }
        &:not([class^="border-"][class$="-color"]){
            border: none !important;
        }
        &:not([class$="-color"]){
            color: colors.get-color(white);
        }
    }
    .form-control-color{
        height: 3rem;
        border-radius: $all-border-medium;
    }
}