@use "../../../../sass/kernel" as *;

$breadcrumb-items-color: "on-secondary";
$breadcrumb-items-active-color:"primary";
$breadcrumb-items-after-margin-inline-end: 0.5rem;

.breadcrumb{
    @extend .w-fit-content;

    & > *{
        @extend .d-flex, .flex-row, .flex-wrap, .justify-content-center, .align-items-center;
    }

    &[style*="--content"],&[style*="--content-image"]{
        & li, & .breadcrumb-item{
            color:get-color($breadcrumb-items-color);
            @extend .d-flex, .flex-row, .gap-1, .justify-content-center, .align-items-center;
            
            & a{
                // @extend #{$breadcrumb-items};
                color:get-color($breadcrumb-items-color);
            }

            &::after{
                content: var(--content);
                margin-inline-end: $breadcrumb-items-after-margin-inline-end;
                @extend .d-inline-block;
            }

            &:last-child::after{
                --content:none;
            }

            &.active{
                color:get-color($breadcrumb-items-active-color) !important;

                & a{
                    color:get-color($breadcrumb-items-active-color) !important;
                }
            }
        }
    }
    &[style*="--content-image"]{
        & li::after{
            content: '';
            width: var(--content-image-size);
            background-image: var(--content-image);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            @extend .aspect-ratio-1x1;
        }
        & li:last-child::after{
            content: none;
        }
    }
}
.breadcrumb-wrapper{
    @extend .d-flex, .flex-row, .align-items-center;
}