<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
        <link rel="stylesheet" href="../../../../../../../../public/assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary w-100 h-100 d-flex flex-column justify-content-center">
        <!-- <div class="breadcrumb-wrapper justify-content-center">
            <nav class="breadcrumb" style="--content-image:url(https://cdn-icons-png.flaticon.com/256/7488/7488470.png);--content-image-size:20px">
                <ol class="txt-mid-title bg-secondary-color px-2 py-1 all-border-normal">
                    <li>
                        <a href="#">miz</a>
                        <i class="fa-solid fa-house icon-regular"></i>
                    </li>
                    <li class="active">
                        <a href="#">Documentation</a>
                        <i class="fa-solid fa-book icon-regular"></i>
                    </li>
                    <li>
                        <a href="#">Components</a>
                        <i class="fa-solid fa-box icon-regular"></i>
                    </li>
                </ol>
            </nav>
        </div> -->
        <nav class="breadcrumb" style="--content-image:url(https://cdn-icons-png.flaticon.com/256/7488/7488470.png);--content-image-size:20px">
            <ul class="txt-normal bg-secondary-color px-2 py-1 all-border-normal">
                <li>
                    <a href="#">miz</a>
                    <i class="fa-solid fa-house icon-small"></i>
                </li>
                <li>
                    <a href="#">Documentation</a>
                    <i class="fa-solid fa-book icon-small"></i>
                </li>
                <li class="active">
                    <a href="#">Components</a>
                    <i class="fa-solid fa-box icon-small"></i>
                </li>
            </ul>
        </nav>
        <!-- <div class="breadcrumb-wrapper justify-content-end">
            <div class="breadcrumb" style="--content:'→';">
                <div class="txt-small bg-secondary-color px-2 py-1 all-border-normal">
                    <div class="breadcrumb-item active">
                        <a href="#">miz</a>
                        <i class="fa-solid fa-house icon-extra-small"></i>
                    </div>
                    <div class="breadcrumb-item">
                        <a href="#">Documentation</a>
                        <i class="fa-solid fa-book icon-extra-small"></i>
                    </div>
                    <div class="breadcrumb-item">
                        <a href="#">Components</a>
                        <i class="fa-solid fa-box icon-extra-small"></i>
                    </div>
                </div>
            </div>
        </div> -->
    </body>
</html>