@use "sass:map";
@use "../../../sass/config/colors" as *;

$color-palette-themes:(
    primary: #3761EB,
    on-primary: #FFFFFF,
    primary-light: #E9EDFA,
    primary-dark: #0C2780,
    secondary: #272E3F,
    on-secondary: #FFFFFF,
    secondary-light: #3C4252,
    secondary-dark: #0F172A,
    specific: #38BDF8,
    button-text: #FFFFFF,
    button: #3761EB,
    text: #707479,
    title-text: #0F172A,
    secondary-text: #AFB3BC,
    section-title-text: #FFFFFF,
    border: #E4E6E8,
    divider: #E6E7EA,
    shadow: #DEDEDE,
    icon: #3761EB,
    icon-hover: #FFFFFF,
    menu: #FFFFFF,
    card: #FFFFFF,
    background: #FAFAFA,
    section: #FFFFFF,
    hover: #9E9E9E,
    button-hover: #FFFFFF,
    text-hover: #FFFFFF,
    fields: #22539c,
    border-fields: #21b8d6,
    title-text-fields: #FFFFFF,
    text-fields: #ffffff,
    black: #000000,
    white: #FFFFFF,
    danger-regular: #D70D0D,
    disabled-regular: #B1B1B1,
    warning-regular: #FFB800,
    warning-light: #FDD368,
    warning-dark: #CA9200,
    success-regular: #02B74A,
    success-light: #C0FCD8,
    success-dark: #007A31,
    danger-dark: #AA0D0D,
    danger-light: #F8D0D0,
    disabled-light: #E2E2E2,
    disabled-dark: #575857,
    information-regular: #3761EB,
    information-light: #7393FF,
    information-dark: #2145BC,
    border-secondary: #FFFFFF,
    unCommon: #FFFFFF,
);
$color-palette:map.merge($color-palette , $color-palette-themes);
