<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary d-flex flex-column h-100 w-100 justify-content-center align-items-center px-20 gap-8">
        <div class="container flex-row justify-content-space-between w-100 gap-3 mb-10">
            <div class="dropdown dropdown-bottom active">
                <div class="btn btn-secondary px-2 py-1 on-primary-color gap-1">
                    Dropdown button
                    <i class="fa-solid fa-chevron-down"></i>
                </div> 
                <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom active">
                <div class="btn btn-outline-success px-2 py-1 gap-1">
                    <span>Dropdown button</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div> 
                <ul class="bg-success-light-color all-border-large px-3 d-flex flex-column gap-2">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom active">
                <div class="btn btn-danger px-2 py-1 gap-1">
                    Dropdown button
                    <i class="fa-solid fa-chevron-down"></i>
                </div> 
                <ul class="bg-danger-light-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom active">
                <div class="btn btn-primary px-2 py-1 gap-1">
                    Dropdown button
                    <i class="fa-solid fa-chevron-down"></i>
                </div> 
                <ul class="bg-primary-light-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
        </div>
        <div class="container flex-row justify-content-space-between w-100 gap-7 mt-10">
            <div class="dropdown dropdown-top active">
                <div class="btn btn-secondary px-2 py-1 on-primary-color gap-1">
                    Dropdown button
                    <i class="fa-solid fa-chevron-up"></i>
                </div> 
                <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-left active">
                <div class="btn btn-outline-danger px-2 py-1 gap-1">
                    Dropdown button
                    <i class="fa-solid fa-chevron-left"></i>
                </div> 
                <ul class="bg-danger-light-color all-border-small px-1">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-right active">
                <div class="btn btn-success px-2 py-1 gap-1">
                    <span>Dropdown button</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </div> 
                <ul class="bg-success-light-color all-border-small px-1">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom active">
                <div class="btn btn-info px-2 py-1 gap-1">
                    Dropdown button
                    <i class="fa-solid fa-chevron-down"></i>
                </div> 
                <ul class="bg-information-light-color all-border-small px-1">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>       
            </div>
        </div>
    </body>
</html>