<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Dropdown</title>
    <!-- <link rel="stylesheet" href="custom-dropdown.css"> -->
    <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
    <link rel="stylesheet" href="../../../../../../../../public/assets/icons/fontawesome/css/all.css">
</head>
<body>
    <div class="dropdown dropdown-bottom">
        <button class="dropdown-box">
            Dropdown button
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
    </div>
    <div class="dropdown dropdown-bottom">
        <div class="dropdown-box">
            Multi-level Dropdown
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-submenu-toggle">
                    Submenu 1
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <ul class="dropdown-menu dropdown-right">
                    <li><a href="#">Submenu Item 1</a></li>
                    <li><a href="#">Submenu Item 2</a></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-submenu-toggle">
                            Submenu 1.1
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-submenu-toggle">
                                    Submenu Item 1.1.1
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Submenu Item 1.1.1</a></li>
                                    <li><a href="#">Submenu Item 1.1.2</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Submenu Item 1.1.2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-submenu-toggle">
                    Submenu 2
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Submenu Item 3</a></li>
                    <li><a href="#">Submenu Item 4</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="dropdown dropdown-right">
        <button class="dropdown-box">
            Right Multi-level
            <i class="fa-solid fa-chevron-right"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-submenu-toggle">
                    Submenu
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Submenu Item 1</a></li>
                    <li><a href="#">Submenu Item 2</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="dropdown dropdown-bottom dropdown-lg">
        <button class="dropdown-box">
            Large Dropdown
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Large Item 1</a></li>
            <li><a href="#">Large Item 2</a></li>
            <li><a href="#">Large Item 3</a></li>
        </ul>
    </div>




    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="dropdown dropdown-bottom dropdown-hover">
            <div class="dropdown-box bg-primary-color">
                Dropdown custom
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <ul class="dropdown-menu">
                <li><a href="#">Large Item 1</a></li>
                <li><a href="#">Large Item 2</a></li>

                <li class="dropdown-submenu dropdown-bottom dropdown-hover">
                    <a class="dropdown-submenu-toggle">Large Item 3</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Large Item 2</a></li>
                        <li class="dropdown-submenu dropdown-right">
                            <p class="dropdown-submenu-toggle">Large Item 1</p>
                            <ul class="dropdown-menu">
                                <li><p>Large Item 1</p></li>
                                <li><a href="#">Large Item 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="dropdown dropdown-bottom dropdown-hover">
        <div class="dropdown-box">
            Dropdown button
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <button class="dropdown-box bg-primary-color">
            Dropdown button
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
    </div> -->
    <div class="dropdown dropdown-bottom">
        <div class="dropdown-box">
            Bottom Dropdown
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <ul class="dropdown-menu">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li class="dropdown-submenu dropdown-left">
                <a href="#" class="dropdown-submenu-toggle">
                    Submenu
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Submenu Item 1</a></li>
                    <li><a href="#">Submenu Item 2</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="../../../../../../../../public/assets/js/mizchin.js"></script>
</body>
</html> 