$icon-size : (
extra-large :32px,
large : 24px,
medium :20px,
regular :16px,
small :12px,
extra-small :10px
);
$icon-prefix : "icon";

// ----------------------------

$folder-default:"fonts";
$fonts: (
  (
    "name": primary,
    "folder": vazir,
    "font-file-name": (
        "Vazir-Black-FD.woff2",
        "Vazir-Black-FD.woff",
        "Vazir-Black-FD.ttf",
        "Vazir-Black-FD.eot",
    ),
  ),
);

// $font-family:"";
$font-folder:"";
$font-weight:"";
$url:();

@each $font-info in $fonts{
    @each $key , $value in $font-info{
        @if ($key == "name"){
            $font-family:$value;
        }

        @else if ($key == "folder"){
            $font-folder:$value;
        }

        @else if ($key == "font-types"){
            @each $weight , $file-name in $value{
                    $url:();
                    @each $name in $file-name{
                        $url-path:unquote('url("#{$fonts-path}/#{$font-folder}/#{$name}")');
                        $url:append($url , $url-path , comma);
                    }
                $font-weight:map.get($weight-type , $weight);
                @font-face {
                    font-family: $font-family;
                    font-weight: $font-weight;
                    src: $url;
                }
            }
        }
    }
}