@use "../../../../sass/kernel/kernel-functions/colors";
@use "../../../../sass/kernel/kernel-functions/break-point";
@use "../../config" as *;

.table{
    border-collapse: separate;
    border-spacing: 0;
    // @extend .overflow-hidden;
    overflow: hidden;
    &.outline{
        border: 1px solid;
        &:not([class^="border-"][class$="-color"]){
            border-color: #fff;
        }
    }
    &:not(.noline){
        &>thead>tr>th, &>thead>tr:not(:last-child)>td, &>tbody>tr:not(:last-child)>th, &>tbody>tr:not(:last-child)>td, &>tfoot>tr:not(:last-child)>th, &>tfoot>tr:not(:last-child)>td{
            border-bottom: 1px solid rgb(255, 255, 255);
        }
    }
    &:not([class^="all-border"]){
        // @extend .all-border-medium;
        border-radius: $all-border-medium;
    }   
    thead{
        &:not([class^="bg-"][class$="-color"]){
            // @extend .bg-primary-color;
            background-color: get-color(primary);
        }
        &:not([class^="py-"]){
            th{
                // @extend .py-1;
                // padding-top: ;
                // padding-bottom: ;
            }
        }
    }
    tbody{
        tr{
            border-top: 1px solid;
            &:not([class^="border-"][class$="-color"]){
                border-color: #fff;
            }
            td{
                text-align: center;
                color: #fff;
                padding-top:var(--table-space);
                padding-bottom:var(--table-space);
                &:has(img){
                    // @extend .pt-1;
                    // padding-top: ;
                }
                img{
                    // @extend .aspect-ratio-1x1;
                    aspect-ratio: 1/1;
                    
                    &:not([class*="w-"]){
                        width: 40px;
                    }
                }
            }
        }
        &.zebra-mode{
            & tr:nth-child(even){
                td{
                    background-color: colors.get-color(primary);
                }
            }
        }
    }
    &:has(tbody.zebra-mode){
        background-color: transparent !important;
    }

    &,& *{
        // @extend .border-box;
        box-sizing: border-box;
    }
}

.responsive-table{
    @media screen and (max-width: break-point.get-break-point-value(lg)) {
        border-radius: 0px !important;
        thead{
            display: none;
        }
        tbody{
            display: flex;
            flex-direction: column;
            gap: 15px;
            tr{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: start; 
                border-top: none;
                border-radius: 15px;
                &:not([class^="bg-"][class$="-color"]){
                    background-color: colors.get-color(primary);
                    padding: 10px 10px;
                }   
                td{
                    border: none !important;
                    &::before{
                        content: #{attr(data-thead-title)} " : "; 
                    }
                }
            } 
        }   
    }
}