<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
    </head>
    <body class="d-flex justify-content-space-around align-items-center bg-secondary-color">
        <div class="loader-spinner-border bw-4 border-primary-color" style="--loader-spinner-border-size:30px;"></div>
        <div class="loader-grow bg-primary-color" style="--loader-grow-size: 50px;"></div>
        <div class="loader-spinner-fade" style="--loader-spinner-fade-size:50px;"></div>
        <div class="loader-bars" style="--loader-bars-size:50px;"></div>
        <div class="loader-multi" style="--loader-multi-size:50px;"></div>
        <div class="loader-spinner" style="--loader-spinner-size:50px;"></div>
        <div class="loader-liquid" style="--loader-liquid-size:50px;"></div>
        
    </body>
</html>