@use "../../../../sass/kernel" as *;
@use "../../../../sass/structure" as *;

$progress-bg-color:"disabled-light";
$progress-custom-classes:".w-100, .d-flex, .flex-row, .all-border-full, .overflow-hidden";
$progress-bar-custom-classes:".d-flex, .align-items-center, .justify-content-center, .overflow-hidden";
$progress-bar-default-bg-color:"information-regular";
$progress-bar-default-font-size:12px;
$progress-bar-default-padding:".p-1";

.progress {
    background-color: get-color($progress-bg-color);
    @extend #{$progress-custom-classes};
}

.progress-bar {
    width: var(--percentage);
    user-select: none;
    @extend #{$progress-bar-custom-classes};

    &:not([class*="bg-"]){
        background-color: get-color($progress-bar-default-bg-color);
    }
    &:not([class*="txt-"]){
        font-size: $progress-bar-default-font-size;
    }
    &:not([class*="p-"]){
        @extend #{$progress-bar-default-padding};
    }

    &[style*="--content-place"] {
        justify-content: var(--content-place);
    }

    &.progress-animation {
        animation: progress-animation var(--progress-animation-duration) forwards ease-in-out;
        animation-delay: var(--progress-animation-delay, 0s);
        @extend .w-0, .pl-0, .pr-0;
    }

    // &:last-child{

    // }
}

@keyframes progress-animation {
    100% {
        width: var(--percentage);
    }
}