<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
    </head>
    <body class="font-primary d-flex flex-column justify-content-start align-items-center gap-4 w-100 h-100 p-3">
        <div class="progress">
            <div class="progress-bar" style="--percentage:10%;">10%</div>
            <div class="progress-bar bg-secondary-color txt-small on-primary-color" style="--percentage:10%;">10%</div>
            <div class="progress-bar" style="--percentage:10%;">10%</div>
        </div>
        <div class="progress">
            <div class="progress-bar" style="--percentage:25%; --content-place:start">25%</div>
            <div class="progress-bar" style="--percentage:50%; --content-place:center">50%</div>
            <div class="progress-bar" style="--percentage:25%; --content-place:end">25%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-animation bg-danger-regular-color" style="--percentage:25%;">25%</div>
            <div class="progress-bar progress-animation bg-warning-regular-color" style="--percentage:25%;--progress-animation-duration:1s;--progress-animation-delay:0.5s;">25%</div>
            <div class="progress-bar progress-animation bg-information-regular-color" style="--percentage:25%;--progress-animation-duration:1s;--progress-animation-delay:0.5s;">25%</div>
            <div class="progress-bar progress-animation bg-success-regular-color" style="--percentage:25%;--progress-animation-duration:1s;--progress-animation-delay:0.5s;">25%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-animation" style="--percentage:30%;--progress-animation-duration:1s;"></div>
            <div class="progress-bar progress-animation bg-secondary-color txt-small on-primary-color" style="--percentage:40%;--progress-animation-duration:1s;--progress-animation-delay:1s;"></div>
            <div class="progress-bar progress-animation bg-primary-color" style="--percentage:30%;--progress-animation-duration:1s;--progress-animation-delay:2s;"></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-animation" style="--percentage:10%;--progress-animation-duration:1s;">10%</div>
            <div class="progress-bar progress-animation bg-secondary-color txt-small on-primary-color" style="--percentage:10%;--progress-animation-duration:1s;--progress-animation-delay:1s;">10%</div>
            <div class="progress-bar progress-animation" style="--percentage:10%;--progress-animation-duration:1s;--progress-animation-delay:2s;">10%</div>
        </div>
    </body>
</html>