<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
    </head>
    <body class="font-primary p-4">
        <div class="mason" style="--column-count:5">
            <div class="mason-item all-border-small">
                <h1 class="txt-high-title on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                <h6 class="txt-small on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</h6>
                <p class="txt-normal on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="mason-item all-border-full">
                <p class="txt-subtitle on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-row justify-content-space-between align-items-center">
                    <i class="fa-solid fa-sun on-primary-color"></i>
                    <i class="fa-solid fa-moon on-primary-color"></i>
                    <i class="fa-solid fa-star on-primary-color"></i>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-grid g-2 gap-1">
                    <div class="w-100 h-100 bg-secondary-color on-primary-color all-border-medium all-border-tr all-border-br p-1 border-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat aliquam facilis voluptates quidem ullam blanditiis.</div>
                    <div class="w-100 h-100 bg-secondary-color on-primary-color all-border-medium all-border-tl all-border-bl p-1 border-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat aliquam facilis voluptates quidem ullam blanditiis.</div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <h1 class="txt-high-title on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                <h6 class="txt-small on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</h6>
                <p class="txt-normal on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="mason-item all-border-full">
                <p class="txt-subtitle on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-column justify-content-center align-items-start">
                    <div class="d-flex flex-row justify-content-space-between align-items-center">
                        <div class="all-border-small">
                            <h1 class="txt-high-title on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                            <h6 class="txt-small on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</h6>
                            <p class="txt-normal on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                            <i class="fa-solid fa-sun on-primary-color"></i>
                            <i class="fa-solid fa-moon on-primary-color"></i>
                            <i class="fa-solid fa-star on-primary-color"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-space-between align-items-center">
                        <div class="all-border-small mb-1">
                            <h1 class="txt-high-title on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                            <h6 class="txt-small on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</h6>
                            <p class="txt-normal on-primary-color">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-3 mb-1">
                            <i class="fa-solid fa-sun on-primary-color"></i>
                            <i class="fa-solid fa-moon on-primary-color"></i>
                            <i class="fa-solid fa-star on-primary-color"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-grid g-2 gap-1">
                    <div class="w-100 h-100 bg-secondary-color on-primary-color all-border-medium all-border-tr all-border-br p-1 border-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat aliquam facilis voluptates quidem ullam blanditiis.</div>
                    <div class="w-100 h-100 bg-secondary-color on-primary-color all-border-medium all-border-tl all-border-bl p-1 border-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat aliquam facilis voluptates quidem ullam blanditiis.</div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-column gap-1 p-2">
                    <button type="button" class="btn btn-secondary px-2 py-1 secondary-text-color border-none">Secondary</button>
                    <button type="button" class="btn btn-success px-2 py-1 border-none">Success</button>
                    <button type="button" class="btn btn-danger px-2 py-1 border-none">Danger</button>
                    <button type="button" class="btn btn-warning px-2 py-1 border-none">Warning</button>
                    <button type="button" class="btn btn-link px-2 py-1 border-none">Link</button>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-row flex-wrap gap-1 p-2">
                    <button type="button" class="btn btn-outline-secondary px-2 py-1 secondary-text-color">Secondary</button>
                    <button type="button" class="btn btn-outline-success px-2 py-1">Success</button>
                    <button type="button" class="btn btn-outline-danger px-2 py-1">Danger</button>
                    <button type="button" class="btn btn-outline-warning px-2 py-1">Warning</button>
                    <button type="button" class="btn btn-outline-link px-2 py-1">Link</button>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="accordion active">
                    <div class="accordion-box">
                        <span class="primary-color w-100 d-flex flex-row on-primary-color justify-content-space-between align-items-center"><div> <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 1 </div><i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i></span>
                        <div>
                            <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-box">
                        <span class="primary-color w-100 d-flex flex-row on-primary-color justify-content-space-between align-items-center"><div> <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 2 </div><i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i></span>
                        <div>
                            <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-column justify-content-center align-items-center gap-4">
                    <div class="dropdown dropdown-bottom">
                        <div class="btn btn-outline-success  px-2 py-1 gap-1">
                            <span>Dropdown button</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div> 
                        <ul class="bg-success-light-color all-border-small px-1 z-index-10">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>       
                    </div>
                    <div class="dropdown dropdown-right">
                        <div class="btn btn-success px-2 py-1 gap-1">
                            <span>Dropdown button</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div> 
                        <ul class="bg-success-regular-color all-border-small px-1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>       
                    </div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="offcanvas-static offcanvas-scroll offcanvas-backdrop my-2">
                    <div id="offcanvasCheck" class="btn btn-success px-2 py-1">offcanvas</div>
                    <div class="backdrop"></div>
                    <div class="offcanvas-left">
                        <div class="offcanvas-close">
                            <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                        </div>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur vel corrupti? Maxime, fugiat temporibus harum</p>
                        <button class="btn btn-secondary px-2 py-1 on-primary-color mb-1">btn</button>
                        <div class="dropdown active dropdown-bottom">
                            <div class="btn btn-secondary px-2 py-1 on-primary-color gap-1 txt-normal txt-md-subtitle" for="dropdown-toggle-1">
                                Dropdown button
                                <i class="fa-solid fa-chevron-down"></i>
                            </div> 
                            <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>       
                        </div>
                    </div>
                    <div class="offcanvas-right">
                        <label for="offcanvasCheck1">
                            <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                        </label>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur vel corrupti? Maxime, fugiat temporibus harum</p>
                        <button class="btn btn-secondary px-2 py-1 on-primary-color mb-1">btn</button>
                        <div class="dropdown dropdown-bottom active">
                            <div class="btn btn-secondary px-2 py-1 on-primary-color gap-1 txt-normal txt-md-subtitle" for="dropdown-toggle-1">
                                Dropdown button
                                <i class="fa-solid fa-chevron-down"></i>
                            </div> 
                            <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../../../../public/assets/js/mizchin.js"></script>
    </body>
</html>