<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accordion</title>
    <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
</head>
<body>
    <div class="accordion-group m-10">
        <div class="accordion accordion-relative bg-secondary-color">
            <div class="accordion-box">
                <span class="accordion-header on-primary-color">item 1 <i class="fa-solid fa-chevron-down txt-subtitle mr-1"></i></span>
                <div class="accordion-content">
                    <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-relative">
            <div class="accordion-box">
                <span class="accordion-header on-primary-color">item 1 <i class="fa-solid fa-chevron-down txt-subtitle mr-1"></i></span>
                <div class="accordion-content">
                    <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-absolute">
            <div class="accordion-box">
                <span class="accordion-header on-primary-color">item 1 <i class="fa-solid fa-chevron-down txt-subtitle mr-1"></i></span>
                <div class="accordion-content">
                    <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-absolute">
            <div class="accordion-box">
                <span class="accordion-header on-primary-color">item 1 <i class="fa-solid fa-chevron-down txt-subtitle mr-1"></i></span>
                <div class="accordion-content">
                    <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- اسکریپت آکاردئون -->
    <script src="../../../../../../../../public/assets/js/mizchin.min.js"></script>
</body>
</html>
