@use "../../../../sass/kernel" as *;

$floating-label-transition: 0.2s linear;
$floating-label-form-control-space: 10px;
$floating-label-space-left: 10px;
$floating-label-scale: 0.7;
$floating-label-placeholder-opacity: 0.7;

.form-floating{
    @extend .position-relative;

    .form-control{
        padding-top: calc($floating-label-form-control-space + 5px) !important;
        color: get-color(text-fields);
        background-color: get-color(fields);
        @extend .h-100;

        &::placeholder{ 
            color: get-color(text-fields);
            user-select: none;
            transition: $floating-label-transition;
            @extend .opacity-0;
        }
        & + label{
            top: 50%;
            right: 100%;
            left: $floating-label-space-left;
            white-space: nowrap;
            transition: $floating-label-transition;
            user-select: none;
            transform: translateY(calc(-50% - -2px));
            color: get-color(title-text-fields);
            @extend .z-index-1, .position-absolute;
        }
        &:not(:placeholder-shown) , &:focus , &:disabled , &:read-only{
            & + label{
                transform: scale($floating-label-scale);
                right: 100%;
                @extend .top-0;
            }
        }
        &:focus::placeholder{
            opacity: $floating-label-placeholder-opacity;
        }
        &:disabled + label{
            @extend .z-index-1;
        }
    }
}