<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
        <link rel="stylesheet" href="../../../../../../../../public/assets/icons/fontawesome/css/all.css">
    </head>
    <body class="bg-secondary-dark-color font-primary py-7 px-3 gap-3 d-flex">
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="@example.gmail.com">
            <label for="floatingInput" class="text-fields-color">Email address</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputValue" value="example@gmail.com" placeholder="@example.gmail.com">
            <label for="floatingInputValue" class="text-fields-color">Email address</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
        </div>  
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputDisabled" placeholder="@example.gmail.com" readonly>
            <label for="floatingInputDisabled" class="text-fields-color">Email address</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled" readonly></textarea>
            <label for="floatingTextareaDisabled" class="title-text-color">Comments</label>
        </div>  
    </body>
</html>