<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../../../../public/assets/css/document/miz.min.css">
        <link rel="stylesheet" href="../../../../../../../../public/assets/icons/fontawesome/css/all.css">
    </head>
    <body style="background-color: #212529;" class="font-primary px-5 py-4 flex-column d-flex flex-column gap-3">
        <div class="form-field flex-row">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-field flex-column">
            <label for="exampleFormControlInput3" class="form-label">Email address</label>
            <textarea name="" id="exampleFormControlInput2" class="form-control"></textarea>
        </div>
        <div class="form-field flex-row">
            <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder=".form-control-lg">
        </div>
        <div class="form-field flex-column">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1">
            <p class="form-text">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</p>
        </div>
        <div class="form-field flex-row">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" pattern=".{8,}" class="form-control" id="exampleFormControlInput1">
            <p class="form-text">Your password must be 8-20</p>
        </div>
        <div class="form-field d-flex flex-column border-solid border-width-1 border-fields-color px-3 py-2 all-border-small">
            <div class="form-field flex-row">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control form-control-plaintext" value="email@example.com" readonly id="exampleFormControlInput1">    
            </div>
            <div class="form-field flex-row">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1">
            </div>
        </div>
        <div class="form-field flex-row">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1">
            <button class="px-2 py-1 btn btn-primary title-text-fields-color">Confirm identity</button>
        </div>
        <div class="form-field flex-row">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="form-field flex-row">
            <label for="exampleDataList" class="form-label">Datalist example</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
            <datalist id="datalistOptions">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
            </datalist>
        </div>
        <div class="form-field flex-row">
            <label for="exampleColorInput" class="form-label">Color picker</label>
            <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">
        </div>
    </body>
</html>