<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary d-flex flex-column h-100 w-100 justify-content-center align-items-center gap-4">
        <div class="container flex-row gap-1 p-2">
            <button type="button" class="px-2 py-1 btn btn-primary">Primary</button>
            <button type="button" class="px-2 py-1 btn btn-secondary secondary-text-color">Secondary</button>
            <button type="button" class="px-2 py-1 btn btn-success">Success</button>
            <button type="button" class="px-2 py-1 btn btn-danger">Danger</button>
            <button type="button" class="px-2 py-1 btn btn-warning">Warning</button>
            <button type="button" class="px-2 py-1 btn btn-info">Information</button>
            <button type="button" class="px-2 py-1 btn btn-link">Link</button>
        </div>
        <div class="container flex-row gap-1 p-2">
            <button type="button" class="px-2 py-1 btn btn-outline-primary">Primary</button>
            <button type="button" class="px-2 py-1 btn btn-outline-secondary">Secondary</button>
            <button type="button" class="px-2 py-1 btn btn-outline-success">Success</button>
            <button type="button" class="px-2 py-1 btn btn-outline-danger">Danger</button>
            <button type="button" class="px-2 py-1 btn btn-outline-warning">Warning</button>
            <button type="button" class="px-2 py-1 btn btn-outline-info">Info</button>
            <button type="button" class="px-2 py-1 btn btn-outline-primary bg-on-primary-color">Primary</button>
            <button type="button" class="px-2 py-1 btn btn-outline-success bg-success-light-color">Success</button>
            <button type="button" class="px-2 py-1 btn btn-outline-danger bg-danger-light-color">Danger</button>
        </div>
        <div class="container flex-row gap-1 p-2">
            <button type="button" class="px-2 py-1 btn btn-outline-info">
                <i class="fa-solid fa-circle-info"></i><span>Info</span>
            </button>
            
            <button type="button" class="px-2 py-1 btn btn-outline-primary">
                <i class="fa-solid fa-thumbs-up"></i><span>Like</span>
            </button>
            
            <button type="button" class="px-2 py-1 btn btn-outline-success bg-success-light-color">
                <i class="fa-solid fa-check-circle"></i><span>Success</span>
            </button>
            
            <button type="button" class="px-2 py-1 btn btn-outline-danger bg-danger-light-color">
                <i class="fa-solid fa-exclamation-triangle"></i><span>Error</span>
            </button>
            
            <button type="button" class="px-2 py-1 btn btn-outline-warning">
                <i class="fa-solid fa-exclamation-circle"></i><span>Caution</span>
            </button>
            
            <button type="button" class="px-2 py-1 btn btn-outline-secondary">
                <i class="fa-solid fa-share"></i><span>Share</span>
            </button>

            <button type="button" class="px-2 py-1 btn btn-outline-info bg-information-light-color">
                <i class="fa-solid fa-circle-info"></i>
            </button>  
        </div>
        <div class="container flex-row gap-1 p-2">
            <button type="button" class="px-2 py-1 btn btn-round btn-outline-info">
                <i class="fa-solid fa-circle-info"></i><span>Info</span>
            </button>
            
            <button type="button" class="px-2 py-1 btn btn-round btn-outline-success bg-success-light-color">
                <i class="fa-solid fa-check-circle"></i>
            </button>
            
            <button type="button" class="px-2 py-1 btn btn-round btn-outline-danger bg-danger-light-color">
                <i class="fa-solid fa-exclamation-triangle"></i><span>Error</span>
            </button>
        </div>
    </body>
</html>