<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary d-flex flex-column h-100 w-100 justify-content-center align-items-center px-20 gap-8">
        <div class="container flex-row justify-content-space-between w-100 gap-3 mb-10">
            <div class="dropdown dropdown-bottom">
                <input class="d-none" type="checkbox" id="dropdown-toggle-1">
                <label class="px-2 py-1 btn btn-secondary on-primary-color gap-1" for="dropdown-toggle-1">
                    Dropdown button
                    <i class="fa-solid fa-chevron-down"></i>
                </label> 
                <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom">
                <input class="d-none" type="checkbox" id="dropdown-toggle-2">
                <label class="px-2 py-1 btn btn-outline-success gap-1" for="dropdown-toggle-2">
                    <span>Dropdown button</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </label> 
                <ul class="bg-success-light-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom">
                <input class="d-none" type="checkbox" id="dropdown-toggle-3">
                <label class="px-2 py-1 btn btn-danger gap-1" for="dropdown-toggle-3">
                    Dropdown button
                    <i class="fa-solid fa-chevron-down"></i>
                </label> 
                <ul class="bg-danger-light-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom">
                <input class="d-none" type="checkbox" id="dropdown-toggle-4">
                <label class="px-2 py-1 btn btn-primary gap-1" for="dropdown-toggle-4">
                    Dropdown button
                    <i class="fa-solid fa-chevron-down"></i>
                </label> 
                <ul class="bg-primary-light-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
        </div>
        <div class="container flex-row justify-content-space-between w-100 gap-7 mt-10">
            <div class="dropdown dropdown-top">
                <input class="d-none" type="checkbox" id="dropdownToggle-1">
                <label class="px-2 py-1 btn btn-secondary on-primary-color gap-1" for="dropdownToggle-1">
                    Dropdown button
                    <i class="fa-solid fa-chevron-up"></i>
                </label> 
                <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-right">
                <input class="d-none" type="checkbox" id="dropdownToggle-2">
                <label class="px-2 py-1 btn btn-success gap-1" for="dropdownToggle-2">
                    <span>Dropdown button</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </label> 
                <ul class="bg-success-light-color all-border-small px-1">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-left">
                <input class="d-none" type="checkbox" id="dropdownToggle-3">
                <label class="px-2 py-1 btn btn-outline-danger gap-1" for="dropdownToggle-3">
                    Dropdown button
                    <i class="fa-solid fa-chevron-left"></i>
                </label> 
                <ul class="bg-danger-light-color all-border-small px-1">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom">
                <input class="d-none" type="checkbox" id="dropdownToggle-4">
                <label class="px-2 py-1 btn btn-info gap-1" for="dropdownToggle-4">
                    Dropdown button
                    <i class="fa-solid fa-chevron-down"></i>
                </label> 
                <ul class="bg-information-light-color all-border-small px-1">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>       
            </div>
        </div>
    </body>
</html>