<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="bg-secondary-dark-color font-primary py-7 px-3">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="dfef">
            <label for="floatingInput" class="text-fields-color">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInsdput" value="fsdjfnds;ofjsdfnjasf" placeholder="dfef">
            <label for="floatingInsdput" class="text-fields-color">Email address</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Comments</label>
        </div>  
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="dfef" disabled>
            <label for="floatingInput" class="text-fields-color">Email address</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" disabled></textarea>
            <label for="floatingTextarea" class="title-text-color">Comments</label>
        </div>  
    </body>
</html>