<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary w-100 h-100 d-flex flex-column justify-content-center bg-secondary-color">
        <div class="mb-3 flex-row input-group">
            <label for="exampleFormControlInput1" class="form-label">@</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3 flex-row input-group">
            <label for="exampleFormControlInput2" class="form-label">$</label>
            <input type="text" class="form-control" id="exampleFormControlInput2">
            <label for="exampleFormControlInput2" class="form-label">0.00</label>
        </div>
        <div class="mb-3 flex-row input-group">
            <input type="text" class="form-control" id="exampleFormControlInput3">
            <label for="exampleFormControlInput3" class="form-label">@</label>
            <input type="text" class="form-control" id="exampleFormControlInput3">
        </div>
        <div class="mb-3 flex-row input-group">
            <label for="exampleFormControlInput4" class="form-label">Example textarea</label>
            <textarea name="" id="exampleFormControlInput4" class="form-control"></textarea>
        </div>
        <div class="mb-3 flex-row input-group">
            <label for="exampleFormControlInput5" class="form-label">
                <input type="checkbox" name="" id="">
            </label>
            <input type="text" class="form-control" id="exampleFormControlInput5">
            <label for="exampleFormControlInput5" class="form-label">
                <input type="radio" name="" id="">
            </label>
        </div>
        <div class="mb-3 flex-row input-group">
            <label for="exampleFormControlInput6" class="form-label">First and last name</label>
            <input type="text" class="form-control" id="exampleFormControlInput6">
            <input type="text" class="form-control" id="exampleFormControlInput6">
        </div>
        <div class="mb-3 flex-row input-group">
            <label for="exampleFormControlInput7" class="form-label">$</label>
            <label for="exampleFormControlInput7" class="form-label">0.00</label>
            <input type="text" class="form-control" id="exampleFormControlInput7">
        </div>
        <div class="mb-3 flex-row input-group">
            <button type="button" class="px-2 py-1 btn btn-warning">warning</button>
            <input type="text" class="form-control" id="exampleFormControlInput8">
            <button type="button" class="px-2 py-1 btn btn-primary">Primary</button>
        </div>
        <div class="mb-3 flex-row input-group">
            <button type="button" class="px-2 py-1 btn btn-warning">warning</button>
            <button type="button" class="px-2 py-1 btn btn-primary">Primary</button>
            <input type="text" class="form-control" id="exampleFormControlInput8">
        </div>
        <div class="mb-3 flex-row input-group">
            <div class="dropdown dropdown-bottom">
                <input class="d-none" type="checkbox" id="dropdown-1">
                <label class="px-2 py-1 btn btn-success gap-1" for="dropdown-1">
                    <span>Dropdown button</span>
                    <i class="fa-solid fa-chevron-down on-primary-color"></i>
                </label> 
                <ul class="bg-success-regular-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
            <div class="dropdown dropdown-bottom">
                <input class="d-none" type="checkbox" id="dropdown-2">
                <label class="px-2 py-1 btn btn-success gap-1" for="dropdown-2">
                    <span>Dropdown button</span>
                    <i class="fa-solid fa-chevron-down on-primary-color"></i>
                </label> 
                <ul class="bg-success-regular-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
            <input type="text" class="form-control" id="exampleFormControlInput9">
            <div class="dropdown dropdown-bottom">
                <input class="d-none" type="checkbox" id="dropdown-3">
                <label class="px-2 py-1 btn btn-success gap-1" for="dropdown-3">
                    <span>Dropdown button</span>
                    <i class="fa-solid fa-chevron-down on-primary-color"></i>
                </label> 
                <ul class="bg-success-regular-color all-border-small px-1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>       
            </div>
        </div>
        <div class="mb-3 flex-row input-group">
            <div class="offcanvas-static offcanvas-scroll offcanvas-backdrop">
                <input type="checkbox" name="c1" id="offcanvasCheck1">
                <label class="px-2 py-1 btn btn-primary" for="offcanvasCheck1">offcanvas</label>
                <label for="offcanvasCheck1"></label>
                <div class="offcanvas-left gap-1">
                    <label for="offcanvasCheck1">
                        <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                    </label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur vel corrupti? Maxime, fugiat temporibus harum</p>
                    <button class="px-2 py-1 btn btn-secondary on-primary-color">btn</button>
                    <div class="dropdown dropdown-bottom">
                        <input type="checkbox" id="dropdown-toggle-1">
                        <label class="px-2 py-1 btn btn-secondary on-primary-color gap-1" for="dropdown-toggle-1">
                            Dropdown button
                            <i class="fa-solid fa-chevron-down on-primary-color"></i>
                        </label> 
                        <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>       
                    </div>
                </div>
                <div class="offcanvas-right gap-1">
                    <label for="offcanvasCheck1">
                        <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                    </label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur vel corrupti? Maxime, fugiat temporibus harum</p>
                    <button class="px-2 py-1 btn btn-secondary on-primary-color">btn</button>
                    <div class="dropdown dropdown-bottom">
                        <input type="checkbox" id="dropdown-toggle-2">
                        <label class="px-2 py-1 btn btn-secondary on-primary-color gap-1" for="dropdown-toggle-2">
                            Dropdown button
                            <i class="fa-solid fa-chevron-down on-primary-color"></i>
                        </label> 
                        <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>       
                    </div>
                    <input type="range" class="range bg-on-primary-color" style="--height-range:6px;">
                </div>
            </div>
            <input type="text" class="form-control" id="exampleFormControlInput10">
        </div>
        <div class="mb-3 flex-row input-group">
            <select class="form-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <span>select</span>
        </div>
        <div class="mb-3 flex-row input-group">
            <span>select</span>
            <select class="form-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <span>span</span>
        </div>
        <div class="mb-3 flex-row input-group">
            <button class="btn bg-on-primary-color">btn</button>
            <select class="form-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <button class="px-2 py-1 btn btn-secondary on-primary-color">btn</button>
        </div>
        <div class="mb-3 flex-row input-group">
            <button class="px-2 py-1 btn btn-secondary on-primary-color">btn</button>
            <input class="form-control" type="file" id="formFile1">
        </div>
        <div class="mb-3 flex-row input-group">
            <button class="px-2 py-1 btn btn-secondary on-primary-color">btn</button>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
            <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
            </datalist>
        </div>
    </body>
</html>