<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary p-4">
        <div class="mason" style="--column-count:5">
            <div class="mason-item all-border-small">
                <h1 class="txt-high-title">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                <h6 class="txt-small">Lorem ipsum dolor sit amet consectetur adipisicing</h6>
                <p class="txt-normal">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="mason-item all-border-full">
                <p class="txt-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-row justify-content-space-between align-items-center">
                    <i class="fa-solid fa-sun on-primary-color"></i>
                    <i class="fa-solid fa-moon on-primary-color"></i>
                    <i class="fa-solid fa-star on-primary-color"></i>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-grid g-2 gap-1">
                    <div class="w-100 h-100 bg-on-primary-color all-border-medium all-border-tr all-border-br p-1 border-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat aliquam facilis voluptates quidem ullam blanditiis.</div>
                    <div class="w-100 h-100 bg-on-primary-color all-border-medium all-border-tl all-border-bl p-1 border-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat aliquam facilis voluptates quidem ullam blanditiis.</div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <h1 class="txt-high-title">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                <h6 class="txt-small">Lorem ipsum dolor sit amet consectetur adipisicing</h6>
                <p class="txt-normal">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="mason-item all-border-full">
                <p class="txt-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-column justify-content-center align-items-start">
                    <div class="d-flex flex-row justify-content-space-between align-items-center">
                        <div class="all-border-small">
                            <h1 class="txt-high-title">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                            <h6 class="txt-small">Lorem ipsum dolor sit amet consectetur adipisicing</h6>
                            <p class="txt-normal">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                            <i class="fa-solid fa-sun on-primary-color"></i>
                            <i class="fa-solid fa-moon on-primary-color"></i>
                            <i class="fa-solid fa-star on-primary-color"></i>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-space-between align-items-center">
                        <div class="all-border-small mb-1">
                            <h1 class="txt-high-title">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
                            <h6 class="txt-small">Lorem ipsum dolor sit amet consectetur adipisicing</h6>
                            <p class="txt-normal">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-3 mb-1">
                            <i class="fa-solid fa-sun on-primary-color"></i>
                            <i class="fa-solid fa-moon on-primary-color"></i>
                            <i class="fa-solid fa-star on-primary-color"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-grid g-2 gap-1">
                    <div class="w-100 h-100 bg-on-primary-color all-border-medium all-border-tr all-border-br p-1 border-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat aliquam facilis voluptates quidem ullam blanditiis.</div>
                    <div class="w-100 h-100 bg-on-primary-color all-border-medium all-border-tl all-border-bl p-1 border-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat aliquam facilis voluptates quidem ullam blanditiis.</div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-column gap-1 p-2">
                    <button type="button" class="px-2 py-1 btn btn-secondary secondary-text-color">Secondary</button>
                    <button type="button" class="px-2 py-1 btn btn-success">Success</button>
                    <button type="button" class="px-2 py-1 btn btn-danger">Danger</button>
                    <button type="button" class="px-2 py-1 btn btn-warning">Warning</button>
                    <button type="button" class="px-2 py-1 btn btn-link">Link</button>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-row flex-wrap gap-1 p-2">
                    <button type="button" class="px-2 py-1 btn btn-secondary secondary-text-color">Secondary</button>
                    <button type="button" class="px-2 py-1 btn btn-success">Success</button>
                    <button type="button" class="px-2 py-1 btn btn-danger">Danger</button>
                    <button type="button" class="px-2 py-1 btn btn-warning">Warning</button>
                    <button type="button" class="px-2 py-1 btn btn-link">Link</button>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="accordion">
                    <input type="checkbox" id="accordionItem1">
                    <label for="accordionItem1" class="accordion-box">
                        <span class="primary-color w-100 d-flex flex-row on-primary-color justify-content-space-between align-items-center"><div> <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 1 </div><i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i></span>
                        <div>
                            <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                        </div>
                    </label>
                </div>
                <div class="accordion">
                    <input type="checkbox" id="accordionItem2">
                    <label for="accordionItem2" class="accordion-box">
                        <span class="primary-color w-100 d-flex flex-row on-primary-color justify-content-space-between align-items-center"><div> <i class="fa-solid fa-code-branch  txt-subtitle mr-1 "></i>item 2 </div><i class="fa-solid fa-chevron-down  txt-subtitle mr-1 "></i></span>
                        <div>
                            <p class="on-primary-color">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                        </div>
                    </label>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="d-flex flex-column justify-content-center align-items-center gap-4">
                    <div class="dropdown dropdown-bottom">
                        <input class="d-none" type="checkbox" id="dropdown-toggle-1">
                        <label class="px-2 py-1 btn btn-outline-success gap-1" for="dropdown-toggle-1">
                            <span>Dropdown button</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </label> 
                        <ul class="bg-success-light-color all-border-small px-1 z-index-10">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>       
                    </div>
                    <div class="dropdown dropdown-bottom">
                        <input class="d-none" type="checkbox" id="dropdown-2">
                        <label class="px-2 py-1 btn btn-success gap-1" for="dropdown-2">
                            <span>Dropdown button</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </label> 
                        <ul class="bg-success-regular-color all-border-small px-1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>       
                    </div>
                </div>
            </div>
            <div class="mason-item all-border-small">
                <div class="offcanvas-static offcanvas-scroll offcanvas-backdrop my-2">
                    <input type="checkbox" name="c1" id="offcanvasCheck1">
                    <label class="px-2 py-1 btn btn-success" for="offcanvasCheck1">offcanvas</label>
                    <label for="offcanvasCheck1"></label>
                    <div class="offcanvas-left">
                        <label for="offcanvasCheck1">
                            <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                        </label>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur vel corrupti? Maxime, fugiat temporibus harum</p>
                        <button class="px-2 py-1 btn btn-secondary on-primary-color mb-1">btn</button>
                        <div class="dropdown dropdown-bottom">
                            <input type="checkbox" id="dropdown-toggle-1">
                            <label class="px-2 py-1 btn btn-secondary on-primary-color gap-1 txt-normal txt-md-subtitle" for="dropdown-toggle-1">
                                Dropdown button
                                <i class="fa-solid fa-chevron-down"></i>
                            </label> 
                            <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>       
                        </div>
                    </div>
                    <div class="offcanvas-right">
                        <label for="offcanvasCheck1">
                            <i class="fa-solid fa-close on-primary-color icon-medium"></i>
                        </label>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur vel corrupti? Maxime, fugiat temporibus harum</p>
                        <button class="px-2 py-1 btn btn-secondary on-primary-color mb-1">btn</button>
                        <div class="dropdown dropdown-bottom">
                            <input type="checkbox" id="dropdown-toggle-1">
                            <label class="px-2 py-1 btn btn-secondary on-primary-color gap-1 txt-normal txt-md-subtitle" for="dropdown-toggle-1">
                                Dropdown button
                                <i class="fa-solid fa-chevron-down"></i>
                            </label> 
                            <ul class="bg-secondary-color on-primary-color all-border-small px-1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>