<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary d-flex flex-column justify-content-center align-items-center gap-2 w-100 h-100">
        <div class="page-indicator d-flex flex-row justify-content-start align-items-center gap-1" style="--size:15">
            <input type="radio" name="c1" id="c1PageIndicator1" checked>
            <label for="c1PageIndicator1"></label>
            <input type="radio" name="c1" id="c1PageIndicator2">
            <label for="c1PageIndicator2"></label>
            <input type="radio" name="c1" id="c1PageIndicator3">
            <label for="c1PageIndicator3"></label>
            <input type="radio" name="c1" id="c1PageIndicator4">
            <label for="c1PageIndicator4"></label>
            <input type="radio" name="c1" id="c1PageIndicator5">
            <label for="c1PageIndicator5"></label>
        </div>
        <div class="page-indicator gap-1" style="--size:20">
            <input type="radio" name="c2" id="c2PageIndicator1">
            <label for="c2PageIndicator1"></label>
            <input type="radio" name="c2" id="c2PageIndicator2">
            <label for="c2PageIndicator2"></label>
            <input type="radio" name="c2" id="c2PageIndicator3" checked>
            <label for="c2PageIndicator3"></label>
            <input type="radio" name="c2" id="c2PageIndicator4">
            <label for="c2PageIndicator4"></label>
            <input type="radio" name="c2" id="c2PageIndicator5">
            <label for="c2PageIndicator5"></label>
        </div>
        <div class="page-indicator gap-1" style="--size:35">
            <input type="radio" name="c3" id="c3PageIndicator1">
            <label for="c3PageIndicator1">1</label>
            <input type="radio" name="c3" id="c3PageIndicator2">
            <label for="c3PageIndicator2">1</label>
            <input type="radio" name="c3" id="c3PageIndicator3">
            <label for="c3PageIndicator3">1</label>
            <input type="radio" name="c3" id="c3PageIndicator4">
            <label for="c3PageIndicator4">1</label>
            <input type="radio" name="c3" id="c3PageIndicator5" checked>
            <label for="c3PageIndicator5">1</label>
        </div>
    </body>
</html>