<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary d-flex flex-column justify-content-start align-items-center gap-4 w-100 h-100">
        <div class="progress-bar" style="--percentage:25 ; --content-place:start" data-content="25%"></div>
        <div class="progress-bar" style="--percentage:50 ; --content-place:center" data-content="50%"></div>
        <div class="progress-bar" style="--percentage:75 ; --content-place:end" data-content="75%"></div>
        <div class="progress-bar" style="--percentage:90 ;"></div>
        <div class="progress-bar" style="--percentage:100 ;">
            <p>Lorem ipsum</p>
        </div>
        <div class="progress-bar justify-content-start py-1" style="--percentage:75 ;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="progress-bar justify-content-center py-1" style="--percentage:50 ;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="progress-bar justify-content-end py-1" style="--percentage:25 ;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </body>
</html>