<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="bg-secondary-dark-color px-3 py-2 font-primary">
        <div class="form-check">
            <input type="checkbox" value="" id="flexCheckDefault" disabled checked>
            <label for="flexCheckDefault" class="text-color bg-primary-color">
            Default checkbox
            </label>
        </div>  
        <div class="switch">
            <input type="checkbox" id="toggle" />
            <!-- <label for="toggle" class="switch-label bg-primary-light-color"></label> -->
            <label class="bg-primary-color" for="toggle"></label>  
        </div>
        
    </body>
</html>