<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary bg-secondary-light-color py-5 px-10 d-grid g-2 gap-2">
        <table class="table flex-column">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>profession</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
            </tbody>
        </table>
        <table class="table flex-column">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>profession</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../../../../assets/media/images/2669ac63cf122930dc8980e08c3c917c.jpg" alt=""></td>
                    <td>Name1</td>
                    <td><button type="button" class="px-2 py-1 btn btn-primary btn-round">Primary</button></td>
                </tr>
                <tr>
                    <td><img src="../../../../assets/media/images/2669ac63cf122930dc8980e08c3c917c.jpg" alt=""></td>
                    <td>Name1</td>
                    <td><button type="button" class="px-2 py-1 btn btn-primary btn-round">Primary</button></td>
                </tr>
                <tr>
                    <td><img src="../../../../assets/media/images/2669ac63cf122930dc8980e08c3c917c.jpg" alt=""></td>
                    <td>Name1</td>
                    <td><button type="button" class="px-2 py-1 btn btn-primary btn-round">Primary</button></td>
                </tr>
            </tbody>
        </table>
        <table class="table flex-column bg-secondary-dark-color">
            <thead class="bg-secondary-dark-color section-title-text-color">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>profession</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../../../../assets/media/images/2669ac63cf122930dc8980e08c3c917c.jpg" alt=""></td>
                    <td>Name1</td>
                    <td><button type="button" class="px-2 py-1 btn btn-primary btn-round">Primary</button></td>
                </tr>
                <tr>
                    <td><img src="../../../../assets/media/images/2669ac63cf122930dc8980e08c3c917c.jpg" alt=""></td>
                    <td>Name1</td>
                    <td><button type="button" class="px-2 py-1 btn btn-primary btn-round">Primary</button></td>
                </tr>
                <tr>
                    <td><img src="../../../../assets/media/images/2669ac63cf122930dc8980e08c3c917c.jpg" alt=""></td>
                    <td>Name1</td>
                    <td><button type="button" class="px-2 py-1 btn btn-primary btn-round">Primary</button></td>
                </tr>
            </tbody>
        </table>
        <table class="table flex-column">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>profession</th>
                </tr>
            </thead>
            <tbody class="zebra-mode">
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
            </tbody>
        </table>
        <table class="table flex-column outline">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>profession</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
            </tbody>
        </table>
        <table class="table flex-column noline">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>profession</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
                <tr>
                    <td>Id1</td>
                    <td>Name1</td>
                    <td>profession1</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>