<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=./assets/css/miz.min.css>
        <link rel="stylesheet" href="../../../../../../assets/icons/fontawesome/css/all.css">
    </head>
    <body class="d-flex justify-content-space-around align-items-center">
        <div class="spinner-border spinner-border-sm border-width-3 "></div>
        <div class="spinner-grow spinner-grow-success spinner-grow-xl"></div>
    </body>
</html>